{% extends 'base.html' %}
{% load static %}
{% block titulo %}Asistencia{% endblock titulo %}

{% block estilos %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock estilos %}
    

{% block contenido %}

{% if messages %}
    {% for mensaje in messages %}
        {% if mensaje.tags == "info" %}
            <div class="container alert alert-info  alert-dismissible fade show" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
            {{mensaje}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> 
        {% elif mensaje.tags == "warning"%}
            <div class="container alert alert-warning  alert-dismissible fade show" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
            {{mensaje}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> 
        {% endif %}
    {% endfor %}
{% endif %}
    
{% regroup clases by clase.calendario.horaClase as x %}
    <div class="container">
        <div class="row sticky-top" style="background-color: white;">
            <div class="col-11">
                <h4 style="margin-left: 16vh;"><center>{{dia|date:"D-d M Y"}}</center></h4>
            </div>
            <div class="col-1">
                <a href="{% url 'controlAsistencia' %}" class="btn btn-outline-secondary "><i class="fa-solid fa-box-archive"></i></a>
            </div>
        </div>
        <hr>
        {% for clase in x %}
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">
                    {{clase.grouper|date:'h:00 A'}}
                    <button class="btn btn-outline-info btn-sm" style="float: right;" form="{{clase.grouper|date:'H'}}Form">Guardar</button>
                </li>
               <form action="" method="post" id="{{clase.grouper|date:'H'}}Form">
                {% csrf_token %}
                    {% for estudiante in clase.list %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="tooltipE">
                                        <button type="button" class="btn btn-light btn-sm"> <i class="fa-solid fa-circle" style="color: {{estudiante.clase.calendario.registro.nivel.color_fondo}};"></i></button>
                                        <span class="tooltiptextE" style="color: {{estudiante.clase.calendario.registro.nivel.color_letra}}; background-color: {{estudiante.clase.calendario.registro.nivel.color_fondo}};">{{estudiante.clase.calendario.registro.nivel.nivel}}</span>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <h6 style="line-height: 1.9; display: inline-block; vertical-align: middle;">{{estudiante.clase.calendario.registro.estudiante.nombre_completo}}</h6>
                                </div>
                                <div class="col-md-3">
                                    <select name="estudiante{{estudiante.clase.calendario.registro.estudiante.registro.pk}}" id="" class="form-select">
                                        <option value="1" selected>Asistió</option>
                                        <option value="2">No asistió </option>
                                        <option value="3">Cancelo con excusa</option>
                                        <option value="4">Cancelo por enfermedad</option>
                                    </select>
                                    <input type="hidden" name="estudiante{{estudiante.clase.calendario.registro.estudiante.registro.pk}}" value="{{estudiante.clase.calendario.registro.estudiante.pk}}">
        
                                </div>
                            </div>
                        </li> 
                    {% endfor %}
                    <input type="hidden" name="hora" value="{{clase.grouper|date:'H:i'}}">
               </form>
            </ul>
            <br>
        {% endfor %}
    </div>
        
    
{% endblock contenido %}


{% comment %}
    {% block scripts %}
    
    {% endblock scripts %}
{% endcomment %}
    

