{% extends 'base.html' %}
{% load static %}
{% block titulo %}Calendario{% endblock titulo %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'libs/fullcalendar/lib/main.css' %}">
{% endblock estilos %}
    

{% block contenido %}
<br>
<div class="container">
    <a href="{% url 'asistencia' %}" class="btn btn-outline-secondary w-100">Gestionar Aistencia</a>
</div>
<div id="calendar" style="padding: 40px;"></div>

<div class="modal fade" id="ModalInfoEstudianteCalendario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
{% endblock contenido %}



{% block scripts %}
<script src="{% static 'libs/fullcalendar/lib/main.js' %}"></script>
<script src="{% static 'libs/fullcalendar/lib/locales-all.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function(){
        var CalenadrUI = document.getElementById("calendar")
        var calendar = new FullCalendar.Calendar(CalenadrUI,{
            eventTimeFormat: { 
                hour: '2-digit',
                minute: '2-digit',
                hour12: true
            },
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
            events: [
            {%for clase in clases %}
                {
                id: '{%url 'verInfoEstudianteCalendario' clase.pk%}',
                title : '{{clase.get_estudiante}}',
                startRecur : '{{clase.inicioClase|date:"Y-m-d"}}',
                endRecur : '{{clase.finClase|date:"Y-m-d"}}',

                startTime: '{{clase.horaClase|date:"H:i"}}',
                daysOfWeek: {{clase.get_dias_clase|safe}},
                color: '{{clase.nivel.color_fondo}}',
                textColor: '{{clase.nivel.color_letra}}',
                },
                
            {%endfor%}

            ],
            eventClick: function(arg) {
            abrir_modal_calendario(arg.event.id)
      },
        })

        calendar.render();
        calendar.setOption('locale','es')

    })
</script>
{% endblock scripts %}

