{%extends 'base.html' %}
{% block titulo %}Instructores{% endblock titulo %}
{%block estilos%}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<!-- CSS only -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">
{%endblock estilos%}
{% block contenido %}
{%if Profesores%}
<div class="container">
    <div class="row">
     <div class="col-md-10">
         <h1>Administración de instructores</h1>
     </div>
     <div class="col-md-2">
        <!-- <div class="btn btn-outline-success btn-lg" onclick=""> <i class="fa-solid fa-node-js"></i></div> -->
     </div>
    </div>
     <hr>
     <br>
     <table id="ProfesoresTable" class="table" width="100%">
         <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Celular</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Acciones</th>
            </tr>
         </thead>
         <tbody>
            {%if Profesores%}
            {% for Profesor in Profesores %}
                <tr style="height: 40px;">
                    <td>{{Profesor.profesor.usuario.pk}}</td>
                    <td>{{Profesor.profesor.usuario.usuario}}</td>
                    <td>{{Profesor.profesor.usuario.celular}}</td>
                    <td>{{Profesor.profesor.usuario.nombres}}</td>
                    <td>{{Profesor.profesor.usuario.apellidos}}</td>
                    <td>
                        <div style="display:inline-flex; ">
                            <a href="{%url 'verInfoProfesor' Profesor.profesor.usuario.pk%}" style="margin-right:10px" class="btn btn-outline-info btn-sm"><i class="fa-solid fa-eye"></i></a>
                            <a href="{%url 'verEstudiantes' Profesor.profesor.usuario.pk%}" style="margin-right:10px" class="btn btn-outline-secondary btn-sm"><i class="fa-solid fa-school"></i></a>
                            <button style="margin-right:10px"  class="btn btn-outline-warning btn-sm" onclick="editarProfesor('{%url 'editarProfesor' Profesor.profesor.usuario.pk%}')"><i class="fa-solid fa-pencil"></i></button>
                            <div style="margin-right:10px" class="form-check form-switch">
                                <form id="EstadoUsuarioForm" method="post" action="{% url 'editarEstadoUsuario' %}">
                                    {%csrf_token%}
                                    <div class="form-check form-switch switch-Cambio-TipoServicio" style="">
                                        <input class="form-check-input" type="checkbox" style="margin-left: -15px;" role="switching" {% if Profesor.profesor.usuario.estado  %}
                                        checked
                                        {% endif %} onclick="cambiar_estado_usuario('{{Profesor.profesor.usuario.pk}}')">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            {%endif%}
         </tbody>
     </table>
 </div>
{%else%}
<div class="container">
   <div class="row">
        <div style="display: flex; justify-content: space-between;">
            <h1>Perfil {{Profesor.profesor}}</h1>
            <button class="btn btn-lg" id="togglePerfil" onclick="perfil()">Mostrar <i class="fa fa-angle-down"></i></button>
        </div>
        <div id="Perfil" style="display: none;">
            <div>
                <h2>Niveles: </h2>
                <div style="display:flex;">
                    {%for nivel in Profesor.profesor.niveles.all%}
                    <div style="text-align: center; padding: 5px 10px; margin: 5px; border-radius: 10px; background-color: {{nivel.color_fondo}};color:{{nivel.color_letra}}; ">{{nivel.nivel}}</div>
                    {%endfor%}
                </div>
            </div>
            <div>
                <h2>Horarios: </h2>
                {%for horario in Profesor.horario%}
                    <h3 style="font-weight: 400; margin-left: 10px;">{{horario}}</h3>
                {%endfor%}
            </div>
        </div>
   </div>
   <hr>
   <div class="row">
        <div style="display: flex; justify-content: space-between;">
            <h1 id="titleClases">Clases del</h1>
            <button class="btn btn-lg" id="toggleClases" onclick="clases()">Mostrar <i class="fa fa-angle-down"></i></button>
        </div>
        <div id="Clases" style="display:none;">
            <div class="actionTableButtons" style="display: flex; justify-content: space-between; margin: 0 20px;">
                <div>
                    <label for="filtrarFecha" style="font-weight: 500;">Filtrar por la fecha</label>
                    <input type="date" class="form-control" id="filtrarFecha" onchange="cargarClases(date = new Date(), this.value)">
                </div>
            </div>
            <table id="ProfesorTable" class="table table-responsive-lg" width="100%">
                <thead>
                    <th>Estudiante</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Estado</th>
                </thead>
                <tbody>
                </tbody>
            </table>
       
        </div>
    </div>
   <hr>
   <br>
   <div class="row">
    {%if Registros%}
        {%for registro in Registros %}
            <div style="display:flex;justify-content: space-between; border-bottom: 1px solid rgba(0,0,0,0.1);" class="table">
                <div>{{registro.estudiante.nombre_completo}}</div>
                <div><div style="text-align: center; padding: 5px 5px; margin: 5px; border-radius: 10px; background-color: {{registro.nivel.color_fondo}};color:{{registro.nivel.color_letra}}; ">{{registro.nivel.nivel}}</div></div>
                <div><div style="display:inline-flex; ">
                    <a href="{%url 'verEstudiante' Profesor.profesor.pk%}?id_registro={{registro.pk}}" style="margin-right:10px" class="btn btn-outline-info btn-sm"><i class="fa-solid fa-eye"></i> ver más</a>
                </div></div>
            </div>
        {%endfor%}
    {%else%}
    <h1>No tienes alumnos relacionados.</h1>
    {%endif%}
   </div>
</div>
{%endif%}
{%endblock contenido%}
{% block modals %}
<div class="modal fade" id="editarProfesor" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
</div>
{% endblock modals %}
{% block scripts %}
{%if Profesores%}
<script>
    
    $(document).ready(function(){
        $("#ProfesoresTable").DataTable({responsive:true})
    })
    function editarProfesor(url){
        $("#editarProfesor").load(url, function (){ 
            $(this).appendTo("body").modal('show');
        });
    }
</script>
{%else%}
    
<script>
    function cargarClases(date, fecha = null){
        if (fecha != null){
            fecha = new Date(fecha)
            fecha.setDate(fecha.getDate() + 1)
            date = fecha
        }
        date = String(date.getDate())+'-'+String((date.getMonth())+1)+'-'+String(date.getFullYear())
        document.getElementById('titleClases').innerHTML='Clases del '+date
        $.ajax({
            url: '{%url "getClasesProfesor"%}',
            type: 'POST',
            data:{
                'csrfmiddlewaretoken': csrftoken,
                'profesor': '{{request.user.pk}}',
                'fecha': date
            },
            success:function(data){
                datos = data['data']
                let body = document.getElementById('ProfesorTable').lastElementChild;
                if (datos.length < 1){
                    body.innerHTML = ''
                    let tr = document.createElement('tr')
                    td = document.createElement('td')
                    td.innerHTML = 'No hay clases para mostrar'
                    td.style.alingText = 'center'
                    td.setAttribute('colspan','4')
                    td.setAttribute('style','text-align: center;')
                    tr.appendChild(td)
                    body.appendChild(tr)
                }
                for(var i=0; i<datos.length; i++){
                    body.innerHTML = ''
                    let tr = document.createElement('tr')
                    td = document.createElement('td')
                    td.innerHTML = datos[i].Estudiante
                    tr.appendChild(td)
                    td = document.createElement('td');
                    td.innerHTML = datos[i].Fecha
                    tr.appendChild(td)
                    td = document.createElement('td');
                    td.innerHTML = datos[i].Hora
                    tr.appendChild(td)
                    td = document.createElement('td');
                    if(datos[i].Estado){ 
                        td.innerHTML='Activa'
                    }
                    else{
                        td.innerHTML= 'Cancelada'
                    }
                    tr.appendChild(td)
                    body.appendChild(tr)
                }
            }
        });
    }
    $(document).ready(function(){
        cargarClases(date = (new Date()))
    })
    function perfil(){
        let btn = document.getElementById('togglePerfil');
        if(btn.innerHTML == 'Mostrar <i class="fa fa-angle-down"></i>'){
            document.getElementById('Perfil').style.display = 'block';
            btn.innerHTML = 'Ocultar <i class="fa fa-angle-up"></i>'
        }
        else{
            document.getElementById('Perfil').style.display = 'none';
            btn.innerHTML = 'Mostrar <i class="fa fa-angle-down"></i>'
        }
    }
    function clases(){
        let btn = document.getElementById('toggleClases');
        if(btn.innerHTML == 'Mostrar <i class="fa fa-angle-down"></i>'){
            document.getElementById('Clases').style.display = 'block';
            btn.innerHTML = 'Ocultar <i class="fa fa-angle-up"></i>'
        }
        else{
            document.getElementById('Clases').style.display = 'none';
            btn.innerHTML = 'Mostrar <i class="fa fa-angle-down"></i>'
        }
    }
</script>
{%endif%}
<script>
    function cargar(){
        $('.selectpicker').selectpicker();
    }
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
{% endblock scripts %}