{% extends "base.html" %}
{% load static %}

{% block titulo %}Ver Picadero {{picadero.nombre|title}}{% endblock titulo %}

{% block contenido %}
    <div class="container-fluid">
        <div class="row">
            <div>
                <h1></h1>
                <button class="btn w-100" id="togglePicadero" style="display: flex; justify-content: space-between; border: 1px solid rgba(0,0,0,0.8);" onclick="togglePikachu()"><div>Ocultar picadero</div><i class="fa fa-angle-up" style="position: relative; top:5px;"></i></button>
            </div>
            <div id="ContenidoPicadero" style="display: block;margin: 0 5px;">
                <div class="card" style="width: calc(100% - 10px); border-radius: 0 0 5px  5px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Nombre del Picadero</h5>
                                <h6>{{picadero.nombre|title}}</h6>
                            </div>
                            <div class="col-md-6">
                                <h5>Nivel del Picadero</h5>
                                <h6>{{picadero.nivel}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Maximo de Estudiantes</h5>
                                <h6>
                                    {% if picadero.max_estudiantes >  1 %}
                                        {{picadero.max_estudiantes}} Personas
                                    {% else %}
                                        {{picadero.max_estudiantes}} Persona
                                    {% endif %}

                                </h6>
                            </div>
                            <div class="col-md-6">
                                <h5>Maximo de Profesores</h5>
                                <h6>
                                    {% if picadero.max_profesores >  1 %}
                                        {{picadero.max_profesores}} Personas
                                    {% else %}
                                        {{picadero.max_profesores}} Persona
                                    {% endif %}
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" style="padding: 0 20px;">
            <div class="col-3">
                <h5>Seleccionar dia y hora:</h5>
            </div>
            <div class="col-5">
                <div class="input-group mb-3">
                    <select name="DiaClase" id="DiaClase"  class="form-select">
                        <option value="1" {%if dia == 1 %}selected{%endif%}>Lunes</option>
                        <option value="2" {%if dia == 2 %}selected{%endif%}>Martes</option>
                        <option value="3" {%if dia == 3 %}selected{%endif%}>Miércoles</option>
                        <option value="4" {%if dia == 4 %}selected{%endif%}>Jueves</option>
                        <option value="5" {%if dia == 5 %}selected{%endif%}>Viernes</option>
                        <option value="6" {%if dia == 6 %}selected{%endif%}>Sábado</option>
                        <option value="0" {%if dia == 0 %}selected{%endif%}>Domingo</option>
                    </select>
                    <input type="time" step="3600" name="HoraClase" id="HoraClase" value="{{hora|date:'H:i'}}" class="form-control">
                    <button class="btn btn-outline-secondary" type="button" id="HoraClaseButton">Buscar</button>
                  </div>
                
            </div>
            <div class="col-2"></div>
           <div class="col-2">

            <a type="button"  class="btn btn-success " onclick="reporteEstudiantePicadero('{%url 'reportePicadero' picadero.pk %}', '{{picadero.nombre|title}}')" > <i class="fa-solid fa-file-excel"></i></a>
            
           </div>
        </div>
        <div class="container" id="box">
        {% if infoPicadero %}
            <hr>
            <h4>Mostrando informacion del picadero: <b>{{picadero.nombre}}</b> a las <b>{{hora|date:'h:i A'}}</b></h4>    
        {% endif %}
        <br>
        <table class="table table-bordered" id="ClasesTabla">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Estudiante</th>
                <th scope="col">Profesor</th>
              </tr>
            </thead>
            <tbody>
                {% for clase in clases %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{clase.estudiante}}</td>
                        <td>{{clase.profesor}} <sup class="supEditMr" onclick="editarProfesor('{{clase.id}}')" data-bs-toggle="modal" data-bs-target="#editarProfesor"><i class="fa-solid fa-pencil"></i></sup></td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
{% endblock contenido %}

{% block modals %}
  <!-- Modal -->
  <form action="" method="post" id="editarProfesorClaseForm">
        {% csrf_token %}
    </form>
    <div id="mode">
        <div class="modal fade" id="editarProfesor" tabindex="-1" aria-labelledby="editarProfesorLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="editarProfesorLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="modalBody"></div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="document.getElementById('FormularioVerdadero').submit()">Editar</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock modals %}
    
{%block scripts%}
<script src="{% static 'js/picaderos.js' %}"></script>
<script>
    function togglePikachu(){
        let btn = document.getElementById('togglePicadero');
        if(btn.innerHTML == '<div>Mostrar picadero</div><i class="fa fa-angle-down" style="position: relative; top:5px;"></i>'){
            document.getElementById('ContenidoPicadero').style.display = 'block';
            btn.innerHTML = '<div>Ocultar picadero</div><i class="fa fa-angle-up" style="position: relative; top:5px;"></i>'
        }
        else{
            document.getElementById('ContenidoPicadero').style.display = 'none';
            btn.innerHTML = '<div>Mostrar picadero</div><i class="fa fa-angle-down" style="position: relative; top:5px;"></i>'
        }
    }
    $("#HoraClaseButton").click(function(){
        let hora = $("#HoraClase").val()
        let dia = $("#DiaClase").val()
        $.ajax({
            url: window.location.href,
            type: "post",
            data: {"csrfmiddlewaretoken":csrftoken, "hora":hora, "dia":dia},
            success: function(response){
            clases = response["clases"]
            console.log(clases)
            let div = document.getElementById('ClasesTabla').getElementsByTagName('tbody')[0]
            div.innerHTML = ""
            for (var i = 0; i < clases.length; i++) {
                let tr = document.createElement('tr')
                let td = document.createElement('td')
                let th = document.createElement('th')
                let sup = document.createElement('sup')
                let iTag = document.createElement('i')
                th.innerHTML = String(i+1)
                td.innerHTML = clases[i].estudiante
                tr.appendChild(th)
                tr.appendChild(td)
                let copy = td.cloneNode(true)
                copy.innerHTML = clases[i].profesor
                iTag.className = "fa-solid fa-pencil"
                sup.appendChild(iTag)
                sup.classList.add('supEditMr')
                sup.setAttribute('onclick','editarProfesor('+clases[i].id+')')
                sup.setAttribute('data-bs-toggle','modal')
                sup.setAttribute('data-bs-target', '#editarProfesor')
                copy.appendChild(sup)
                tr.appendChild(copy)
                console.log(tr)
                div.appendChild(tr)
            }
            },
            error: function(data){
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: 'No se pudieron encontrar clases ese dia a esa hora',
                    showConfirmButton: false,
                    timer: 2000
                    }).then(function(){
                        window.location.href=window.location.href
                    })
            }
        })
    })
    function editarProfesor(id){
        document.getElementById('mode').style.display = 'block'
        url = '{%url "editarProfesorClase" 1%}'.split('/')
        url[url.length-1] = id
        url=url.join('/')
        $.ajax({
            url:url,
            type:'get',
            success: function (data){
                document.getElementById('editarProfesorLabel').innerHTML = 'Cambiar profesor a '+data.nombreEstudiante    
                let div = document.getElementById('modalBody')
                div.innerHTML=""
                let form = document.getElementById('editarProfesorClaseForm').cloneNode(true)
                let select = document.createElement('select')
                let subtitle = document.createElement('Label')
                form.id = "FormularioVerdadero"

                subtitle.innerHTML = 'Profesores:'
                select.name = 'profesor'
                select.id = 'profesoresSelect'
                select.classList.add('form-select')
                for(let i = 0; i < data.Profesores.profesoresPk.length; i++){
                    let option = document.createElement('option')
                    option.value = data.Profesores.profesoresPk[i]
                    option.innerHTML = data.Profesores.profesoresName[i]
                    if(data.Profesores.profesoresPk == data.ActualProfesor.profesorPk){
                        option.selected = true
                    }
                    select.appendChild(option)
                }
                form.setAttribute('action', url)
                form.appendChild(subtitle)
                form.appendChild(select)
                div.appendChild(form)
            },
            error: function (error){
                document.getElementById('mode').style.display = 'none'
                let modals = document.querySelectorAll('.modal-backdrop')
                for(let i = 0; i < modals.length; i++){
                    modals[i].classList.remove('show')
                }
                console.log(error)
                Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: error['responseJSON'].error,
                showConfirmButton: false,
                timer: 5000
                }).then(function(){
                    window.location.href = window.location.href
                })
            }
        })
    }
</script> 
{%endblock scripts%}    
    