{% extends 'base.html' %}
{% load static %}
{% block titulo %}Editar Almunos{% endblock titulo %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'libs/datepicker/dist/datepicker.css' %}">
<link rel="stylesheet" href="{%static 'css/preloader.css'%}">
<link rel="stylesheet" href="{%static 'css/horarioPuntual.css'%}">
<link rel="stylesheet" href="{% static 'css/estilosBase.css' %}">
{% endblock estilos %}
    


{% block contenido %}
    <div class="container mt-4 cont_list">
        
        {% if messages %}
            {% for mensaje in messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>¡HECHO!</strong> {{mensaje}}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-light alert-dismissible fade show" role="alert">
                <strong>¡Nota!</strong> El botón para modificar al alumno está en la pestaña Información del Contacto de emergencia.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <h1>Modificar información de {{object.get_estudiante}}</h1>
        <hr>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><i id="icon_danger_ESTUDIANTE" class="fa-solid fa-triangle-exclamation"></i> Información del alumno</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"><i id="icon_danger_ACUDIENTE" class="fa-solid fa-triangle-exclamation"></i> Información del Acudiente</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false"><i id="icon_danger_EMERGENCIA" class="fa-solid fa-triangle-exclamation"></i> Información del Contacto de emergencia</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="docs-tab" data-bs-toggle="tab" data-bs-target="#docs-tab-pane" type="button" role="tab" aria-controls="docs-tab-pane" aria-selected="false"><i id="icon_danger_DOCUMENTOS" class="fa-solid fa-triangle-exclamation"></i> Documentos</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" ><i id="icon_danger_REGISTRO" class="fa-solid fa-triangle-exclamation"></i> Información del Registro</a>
            </li>
          </ul>
            <div class="tab-content" id="myTabContent">
                <div class="formEstudianteUpdate tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                    <br>
                    <h3>Información del alumno</h3>
                    {% csrf_token %}
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.nombre_completo.label}}: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="requerido">*</sup></label>
                            {{form.nombre_completo}}
                            <p id="nombre_completo" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.fecha_nacimiento.label}}: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="requerido">*</sup></label>
                            {{form.fecha_nacimiento}}
                            <p id="fecha_nacimiento" class="error_text"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.documento.label}}: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="requerido">*</sup></label>
                            {{form.documento}}
                            <p id="documento" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.celular.label}}:</label>
                            {{form.celular}}
                            <p id="celular" class="error_text"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.email.label}}:</label>
                            {{form.email}}
                            <p id="email" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.direccion.label}}: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="requerido">*</sup></label>
                            {{form.direccion}}
                            <p id="direccion" class="error_text"></p>
                        </div>
                    </div>
                   <br>
                   <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.barrio.label}}: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="requerido">*</sup></label>
                            {{form.barrio}}
                            <p id="barrio" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.ciudad.label}}: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="requerido">*</sup></label>
                            {{form.ciudad}}
                            <p id="ciudad" class="error_text"></p>
                        </div>
                   </div>
                   <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.seguro.label}}:</label>
                            {{form.seguro}}
                            <p id="seguro" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.poliza.label}}:</label>
                            {{form.poliza}}
                            <p id="poliza" class="error_text"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.comprobante_seguro_medico.label}}:</label>
                            {{form.comprobante_seguro_medico}}
                            <p id="comprobante_seguro_medico" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.comprobante_documento_identidad.label}}:</label>
                            {{form.comprobante_documento_identidad}}
                            <p id="comprobante_documento_identidad" class="error_text"></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="" style="font-weight: 500;">{{form.facturacion_electronica.label}}: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="requerido">*</sup></label>
                        {{form.facturacion_electronica}}
                        <p id="facturacion_electronica" class="error_text"></p>
                    </div>
                </div>
                <div class="formEstudianteUpdate tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    <br>
                    <h3>Información de los padres</h3>
                    <hr>
                    <h5><center>Información de la Madre</center></h5>
                    <div>
                        <label for="" style="font-weight: 500;">{{form.nombre_completo_madre.label}}:</label>
                        {{form.nombre_completo_madre}}
                        <p id="nombre_completo_madre" class="error_text"></p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.cedula_madre.label}}:</label>
                            {{form.cedula_madre}}
                            <p id="cedula_madre" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.lugar_expedicion_madre.label}}:</label>
                            {{form.lugar_expedicion_madre}}
                            <p id="lugar_expedicion_madre" class="error_text"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.celular_madre.label}}:</label>
                            {{form.celular_madre}}
                            <p id="celular_madre" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.email_madre.label}}:</label>
                            {{form.email_madre}}
                            <p id="email_madre" class="error_text"></p>
                        </div>
                    </div>
                    <h5><center>Información del Padre</center></h5>
                    <div>
                        <label for="" style="font-weight: 500;">{{form.nombre_completo_padre.label}}:</label>
                        {{form.nombre_completo_padre}}
                        <p id="nombre_completo_padre" class="error_text"></p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.cedula_padre.label}}:</label>
                            {{form.cedula_padre}}
                            <p id="cedula_padre" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.lugar_expedicion_padre.label}}:</label>
                            {{form.lugar_expedicion_padre}}
                            <p id="lugar_expedicion_padre" class="error_text"></p>
                        </div>
                    </div>
                   <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.celular_padre.label}}:</label>
                            {{form.celular_padre}}
                            <p id="celular_padre" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.email_padre.label}}:</label>
                            {{form.email_padre}}
                            <p id="email_padre" class="error_text"></p>
                        </div>
                   </div>
                   <br>
                   <h4>Información de ubicacion de los padres</h4>
                   <div class="row">
                    <div class="col-md-6">
                        <label for="" style="font-weight: 500;">{{form.direccion_A.label}}:</label>
                        {{form.direccion_A}}
                        <p id="direccion" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.barrio_A.label}}:</label>
                            {{form.barrio_A}}
                            <p id="barrio" class="error_text"></p>
                        </div>
                   </div>
                    <div>
                        <label for="" style="font-weight: 500;">{{form.ciudad_A.label}}:</label>
                        {{form.ciudad_A}}
                        <p id="ciudad" class="error_text"></p>
                    </div>
                    <br>
                </div>
                <div class="tab-pane fade" id="docs-tab-pane" role="tabpanel" aria-labelledby="docs-tab" tabindex="0">
                    <br>
                    <h3>Documentos </h3>
                    <br>

                    <div class="text-center ocultar" id="spinnerLoad">
                        <center>
                            <div class="prelo">
                                <div class="caballo" style="background: url('{% static 'img/ej.png'%}');" ></div>
                                <p id="carg">Subiendo archivos..</p>
                            </div>
                        </center>
                    </div>

                    <form action="{%url 'modificarDocsEstudiante' object.pk%}" method="post" enctype="multipart/form-data" id="modificarDocsEstudiante">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                    <h5><strong>Documento de identidad:</strong></h5>
                                    {{form.documento_A}}
                            </div>
                            <div class="col-md-6">
                                <h5><strong>EPS</strong></h5>
                                {{form.seguro_A}}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <h5><strong>Consentimiento para asumir riesgo y Exoneración de responsabilidad:</strong></h5>
                                {{form.exoneracion}}
                            </div>
                        </div>
                        <br>
                        <button type="button" onclick="modificarDocsEstudiante()" class="btn btn-success w-100">Actualizar documentos</button>
                    </form>
                    <br>
                </div>
                <div class="formEstudianteUpdate tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                    <br>
                    <h3>Información del contacto de emergencia </h3>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <h5><strong>Nombre del contacto de emergencia:</strong></h5>
                            {{form.nombre_contactoE}}
                            <p class="error_text" id="nombre_contactoE"></p>
                        </div>
                        <div class="col-md-6">
                            <h5><strong> Telefono del contacto de emergencia:</strong></h5>
                            {{form.telefono_contactoE}}
                            <p class="error_text" id="telefono_contactoE"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <h5><strong> Relacion con el alumno:</strong></h5>
                            {{form.relacion_contactoE}}
                            <p class="error_text" id="relacion_contactoE"></p>
                        </div>
                        <input type="hidden" name="estado" value="{{object.estado}}">
                    </div>
                    <br>
                    <button class="btn btn-success w-100" onclick="ModificarEstudiante('{%url 'modificarEstudiante' object.pk%}')">Modificar alumno</button>
                    <br>
                </div>
                <script>
                    var inicioClase = ""
                    var finClase = ""
                    var diaClase = []
                    var horaClase = []
                    var dicc={}
                </script>
                
                {% for dia in  diaClase%}
                    {% for d in dia %}
                        {% if  forloop.counter == 1 %}
                            <script>dicc.id = '{{d}}'</script>
                        {% else %}
                            <script>dicc.value = '{{d}}'</script>
                            <script>diaClase.push(dicc);dicc={}</script>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                    
                {% for calendary in calendario %}
                {% if  forloop.counter == 1 %}
                    <script>
                        inicioClase = "{{calendary.inicioClase|date:'Y-m-d'}}"
                        finClase = "{{calendary.finClase|date:'d/m/Y'}}"
                    </script>
                {% endif %}
                
                {% endfor %}
                
                {% for hora in horas %}
                    
                <script>horaClase.push('{{hora}}')</script>
                {% endfor %}
                    
                <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
                    <br>
                    <h3>Información del Registro </h3>
                    <br>
                    <div class="col-md-12">
                        <label for="" style="font-weight: 500;">Tipo clase: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="requerido">*</sup></label>
                        <select type="text" name="tipo_clase" class="form-select">
                            {% for tipo in tiposClases %}
                            {% if tipo.value == selected %}
                            <option value="{{tipo.value}}" selected>{{tipo.inner}}</option>
                            {% else %}
                            <option value="{{tipo.value}}">{{tipo.inner}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <p id="tipo_clase" class="error_text"></p>
                    </div>
                    <div class="col-md-12" id="divTipoServicio">
                        <label for="" style="font-weight: 500;">Tipo servicio: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="requerido">*</sup></label>
                        <select name="tipo_servicio" id="id_tipo_servicio" class="form-select">
                            
                            {% for tipo in tiposServicios %}
                                {% if tipo.id == servicio.pk %}
                                <option value="{{tipo.id}}" selected>{{tipo.value}}</option>
                                {% else %}
                                <option value="{{tipo.id}}">{{tipo.value}}</option>
                                {% endif %}
                            {% endfor %}
                                
                        </select>
                        <p id="tipo_servicio" class="error_text"></p>
                    </div>

                    {%if object.tipo_clase == '1' %}
                        <form action="{%url 'modificarRegistroEstudiante' registro.pk%}" method="post" id="ModificarRegistroEstudianteForm">
                        {% csrf_token %}
                            <div class="container">
                                <!-- cabezera -->
                                <div class="headerPuntual" style="display: flex; justify-content:space-between;">
                                    <label for="" style="font-size: 17px; font-weight: 700;">Horarios:</label>
                                    <div style="display: grid;grid-template-columns:1fr 1fr;grid-gap:5px;"><div style="width:100%;background-color:red; padding:0 0px 0 12px;margin-bottom:5px;border-radius:5px; cursor:pointer;" onclick="eliminarClase()"><i class="fa fa-times"style="font-size:16px;"></i> </div><div style="width:100%;background-color:cyan; padding:0 10px;margin-bottom:5px;border-radius:5px; cursor:pointer;" onclick="agregarClase()"><i class="fa fa-plus"style="font-size:15px;"></i></div></div>
                                </div>
                                <!-- cartas -->
                                <div class="containerPuntual">
                                    {% for horario in  calendario%}
                                    <div class="cartaPuntual">
                                        <div class="toggleView" {% if forloop.counter == 1 %}style="visibility: hidden;" {% endif %} onclick="act(this)">
                                            <i class="fa fa-compress"></i>
                                        </div>
                                        <div class="cardContenido">
                                            <h4 class="tituloCarta">
                                                Horario {{forloop.counter}}
                                            </h4>
                                            <div class="bodyCarta" {% if forloop.counter != 1 %}style="display:none;"{% endif %}>
                                                <Label><strong>Dia  de la  clase: <sup style="color: #dc3545;">(*)</sup></strong></Label>
                                                <input type="date" idPer="inicioClase{{forloop.counter}}" name="inicioClase"  autocomplete="off" class="form-control" value="{{horario.inicioClase|date:'Y-m-d'}}">
                                                <p id="inicioClase{{forloop.counter}}" class="bg-light text-danger" style="color: #dc3545;"></p>
                                                
                                                <Label><strong>Hora de la clase: <sup style="color: #dc3545;">(*)</sup></strong></Label>
                                                <input type="time" idPer="horaClase{{forloop.counter}}" name="horaClase" class="form-control" step="3600" value="{{horario.horaClase}}">
                                                <p id="horaClase{{forloop.counter}}" class="bg-light text-danger" style="color: #dc3545;"></p>
                                                <Label  style="margin-bottom: 10px;"><strong>Fin de la clase: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                                                <br>
                                                <p type="date" name="finClase" class="" id="finClaseinput{{forloop.counter}}">{{horario.finClase}}</p>
                                                <p id="finClase{{forloop.counter}}" class="bg-light text-danger" style="color: #dc3545;"></p>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                        <br><br><br>
                        <div class="row">
                            <div class="col-md-6">
                                <Label><strong>Profesor: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                                {{formRegistro.profesor}}
                                <p id="profesor" class="bg-light text-danger" style="color: #dc3545;"></p>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <Label><strong>Nivel: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                                {{formRegistro.nivel}}
                                <p id="nivel" class="bg-light text-danger" style="color: #dc3545;"></p>
                                <br>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check" style="margin-top: 30px">
                                    <Label class="form-check-label"><strong>Matrícula pagada: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                                    {{formRegistro.pagado}}
                                </div>
                                    <p id="pagado" class="bg-light text-danger" style="color: #dc3545;"></p>
                                    <br>
                            </div>
                        </div>
                        <input type="hidden" name="estudiante" value="{{object.pk}}">
                        <p id="estudiante" class="bg-light text-danger" style="color: #dc3545;"></p>
                        <button type="button" class="btn btn-success w-100" onclick="ModificarRegistroEstudiantej()">Modificar Registro del alumno </button>
                    </form>

                    {% elif object.tipo_clase == '2'%}
                    <form action="{%url 'modificarRegistroEstudiante' registro.pk%}" method="post" id="ModificarRegistroEstudianteForm">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <Label><strong>Inicio de clases: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                            <input type="date" name="inicioClase" class="form-control" id="inicioClaseinput">
                            <script>document.getElementById('inicioClaseinput').value=inicioClase</script>
                            <p id="inicioClase" class="bg-light text-danger" style="color: #dc3545;"></p>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <Label  style="margin-bottom: 10px;"><strong>Fin de las clases: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                            <br>
                            <p type="date" name="finClase" class="" id="finClaseinput"></p>
                                <script>document.getElementById('finClaseinput').innerHTML=finClase</script>
                            <p id="finClase" class="bg-light text-danger" style="color: #dc3545;"></p>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom: 15px; padding-bottom: -10px;">
                            <div class="headerHorario" style="display: flex; justify-content:space-between;">
                                <label><strong>Calendario:</strong></label>
                                <div style="display: grid;grid-template-columns:1fr 1fr;grid-gap:5px;"><div style="width:100%;background-color:red; padding:0 0px 0 12px;margin-bottom:5px;border-radius:5px; cursor:pointer;" onclick="eliminarHoras()"><i class="fa fa-remove"style="font-size:16px;"></i> </div><div style="width:100%;background-color:cyan; padding:0 10px;margin-bottom:5px;border-radius:5px; cursor:pointer;" onclick="agregarHoras()"><i class="fa fa-plus"style="font-size:15px;"></i></div></div>
                            </div>
                            <div class="form-control" id="horarios" style="height: 80%;  display: flex; justify-content:start; overflow: auto;">
                            </div>
                            <p id="horarios-p" style="display: none;"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <Label><strong>Meses de suscripción: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                            <select name="meseSus" id="mesesSus"  class="form-select">
                                <option value="1">1 Mes</option>
                                <option value="2">2 Meses</option>
                                <option value="3">3 Meses</option>
                                <option value="4">4 Meses</option>
                                <option value="5">5 Meses</option>
                                <option value="6">6 Meses</option>
                            </select>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <Label><strong>Profesor: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                            {{formRegistro.profesor}}
                            <p id="profesor" class="bg-light text-danger" style="color: #dc3545;"></p>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <Label><strong>Nivel: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                            {{formRegistro.nivel}}
                            <p id="nivel" class="bg-light text-danger" style="color: #dc3545;"></p>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check" style="margin-top: 30px">
                                <Label class="form-check-label"><strong>Matrícula pagada: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                                {{formRegistro.pagado}}
                            </div>
                                <p id="pagado" class="bg-light text-danger" style="color: #dc3545;"></p>
                                <br>
                        </div>
                    </div>
                    <input type="hidden" name="estudiante" value="{{object.pk}}">
                    <button type="button"  class="btn btn-success w-100"onclick="ModificarRegistroEstudiante()">Modificar Registro del alumno</button>
                </form>
                    {%endif%}
                    <br>
                   
                </div>
                <br>
            </div>
            <br> 
    </div>

{% endblock contenido %}

{%block scripts%}
<script src="{% static 'libs/datepicker/dist/datepicker.js' %}"></script>
<script src="{% static 'libs/datepicker/i18n/datepicker.es-ES.js' %}"></script>
<script>
    const valores = window.location.search;
    const urlParams = new URLSearchParams(valores);
    if(urlParams.has('page')){
        let pages = [].slice.call(document.querySelectorAll('#myTab a'))
        let registro =  new bootstrap.Tab(pages[pages.length-1])
        registro.show()
    };
    var idCal = 0
    $(document).ready(function(){
        cargarHoras(horaClase,diaClase)
        $('#profile-tab-pane').tab('show')
        $("#id_fecha_nacimiento").datepicker({
            language: 'es-ES',
            format: "dd/mm/YYYY",
            autoHide: true,
            
        });
        $("#id_inicioClase").datepicker({ 
            language: 'es-ES',
            format: "dd/mm/YYYY",
            autoHide: true,
            
        });
        $("#id_finClase").datepicker({
            language: 'es-ES',
            format: "dd/mm/YYYY",
            autoHide: true,
            
        });
    })
    function cargarHoras(Horarios, dia){
        days = dia
        for(var i=0;i<Horarios.length;i++) {
            horas = Horarios[i];
            const divHorario = document.createElement('div');
            const inputHorario = document.createElement("input");
            inputHorario.type = "time";
            inputHorario.className = "form-control";
            inputHorario.autocomplete = "off";
            inputHorario.value = horas
            const dateDay = document.createElement("select");
            dateDay.className = "dia";
            dateDay.classList.add("form-select")
            dateDay.style.marginBottom = "5px";
            dateDay.autocomplete = "off";
            let optionSelected = document.createElement("option");
            optionSelected.value = days[i].id
            optionSelected.innerHTML = days[i].value
            optionSelected.selected = true
            dateDay.appendChild(optionSelected)
            let dias = {"0":"Lunes","1":"Martes","2":"Miércoles","3":"Jueves","4":"Viernes","5":"Sábado","6":"Domingo"}
            for (let i = 0; i < 7; i++) {
                let option = document.createElement("option");
                option.value = days[i]
                option.innerHTML = dias[i]
                dateDay.appendChild(option)
            }   
            divHorario.appendChild(dateDay);
            divHorario.appendChild(inputHorario);
            divHorario.style.margin = "0 10px"
            divHorario.id = "Calendario"+idCal
            idCal= idCal+1
            document.getElementById('horarios').appendChild(divHorario);
        }
    }
    function agregarHoras(){
        const divHorario = document.createElement('div');
        const inputHorario = document.createElement("input");
        inputHorario.type = "time";
        inputHorario.className = "form-control";
        inputHorario.autocomplete = "off";
        const dateDay = document.createElement("select");
        dateDay.className = "dia";
        dateDay.classList.add("form-select")
        dateDay.style.marginBottom = "5px";
        dateDay.autocomplete = "off";
        let optionSelected = document.createElement("option");
        optionSelected.innerHTML = "Eliga un día"
        optionSelected.selected = true
        dateDay.appendChild(optionSelected)
        let dias = {"1":"Lunes","2":"Martes","3":"Miércoles","4":"Jueves","5":"Viernes","6":"Sábado","0":"Domingo"}
        for (let i = 0; i < 7; i++) {
            let option = document.createElement("option");
            option.value = i
            option.innerHTML = dias[i]
            dateDay.appendChild(option)
        }
        let pHorario = document.createElement("div");
        pHorario.textContent = "a"
        pHorario.style.textAlign = "center";
        let cloneInput = inputHorario.cloneNode(true);
        divHorario.appendChild(dateDay);
        divHorario.appendChild(inputHorario);
        divHorario.style.margin = "0 10px"
        divHorario.id = "Calendario"+idCal
        idCal= idCal+1
        document.getElementById('horarios').appendChild(divHorario);
        cargar()
    }
    function eliminarHoras(){
        let child = document.getElementById('horarios').lastChild;
        document.getElementById('horarios').removeChild(child);
        idCal = idCal - 1
    }


let tipoClase = document.getElementsByName('tipo_clase')[0]
tipoClase.onchange = function(tipo){
    let ruta = window.location.href.split('/')
    let resta = 0
    let id = ruta[ruta.length-1]
    if(isNaN(ruta[ruta.length-1])==true){
        id = ruta[ruta.length-1].split('?')[0]
    }
    $.ajax({
        url: '{%url "cambiarTipoClase"%}',
        data: {
            'csrfmiddlewaretoken':csrftoken,
            'tipo_clase':tipo.target.value,
            'tipo':'edit',
            'id':id
        },
        type:'POST',
        success: function(data){
            let form = document.createElement('form')
            let input = document.createElement('input')
            form.action = window.location.href
            form.method = 'get'
            input.value = 'registro'
            input.name = 'page'
            form.appendChild(input)
            document.getElementsByTagName('body')[0].appendChild(form)
            form.submit()
        }
    })
}
</script>

<script src="{%static 'js/clases.js' %}"></script>

{%endblock scripts%}