{% extends 'base.html' %}
{% load static %}
{% block titulo %}Editar Estudiantes{% endblock titulo %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'libs/datepicker/dist/datepicker.css' %}">
{% endblock estilos %}
    


{% block contenido %}
    <div class="container">
        
        {% if messages %}
            {% for mensaje in messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>¡HECHO!</strong> {{mensaje}}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-light alert-dismissible fade show" role="alert">
                <strong>¡Nota!</strong> El botón para modificar al estudiante está en la pestaña Información del Contacto de emergencia.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <h1>Modificar información de {{object.get_estudiante}}</h1>
        <hr>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><i id="icon_danger_ESTUDIANTE" class="fa-solid fa-triangle-exclamation"></i> Información del Estudiante</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"><i id="icon_danger_ACUDIENTE" class="fa-solid fa-triangle-exclamation"></i> Información del Acudiente</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false"><i id="icon_danger_EMERGENCIA" class="fa-solid fa-triangle-exclamation"></i> Información del Contacto de emergencia</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="docs-tab" data-bs-toggle="tab" data-bs-target="#docs-tab-pane" type="button" role="tab" aria-controls="docs-tab-pane" aria-selected="false"><i id="icon_danger_DOCUMENTOS" class="fa-solid fa-triangle-exclamation"></i> Documentos</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" ><i id="icon_danger_REGISTRO" class="fa-solid fa-triangle-exclamation"></i> Información del Registro</a>
            </li>
          </ul>
            <div class="tab-content" id="myTabContent">
                <div class="formEstudianteUpdate tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                    <br>
                    <h3>Información del estudiante</h3>
                    {% csrf_token %}
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.nombre_completo.label}}: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="requerido">*</sup></label>
                            {{form.nombre_completo}}
                            <p id="nombre_completo" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.fecha_nacimiento.label}}: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="requerido">*</sup></label>
                            {{form.fecha_nacimiento}}
                            <p id="fecha_nacimiento" class="error_text"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.documento.label}}: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="requerido">*</sup></label>
                            {{form.documento}}
                            <p id="documento" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.celular.label}}:</label>
                            {{form.celular}}
                            <p id="celular" class="error_text"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.email.label}}:</label>
                            {{form.email}}
                            <p id="email" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.direccion.label}}: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="requerido">*</sup></label>
                            {{form.direccion}}
                            <p id="direccion" class="error_text"></p>
                        </div>
                    </div>
                   <br>
                   <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.barrio.label}}: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="requerido">*</sup></label>
                            {{form.barrio}}
                            <p id="barrio" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.ciudad.label}}: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="requerido">*</sup></label>
                            {{form.ciudad}}
                            <p id="ciudad" class="error_text"></p>
                        </div>
                   </div>
                   <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.seguro.label}}:</label>
                            {{form.seguro}}
                            <p id="seguro" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.poliza.label}}:</label>
                            {{form.poliza}}
                            <p id="poliza" class="error_text"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.comprobante_seguro_medico.label}}:</label>
                            {{form.comprobante_seguro_medico}}
                            <p id="comprobante_seguro_medico" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.comprobante_documento_identidad.label}}:</label>
                            {{form.comprobante_documento_identidad}}
                            <p id="comprobante_documento_identidad" class="error_text"></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="" style="font-weight: 500;">{{form.tipo_clase.label}}: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="requerido">*</sup></label>
                        {{form.tipo_clase}}
                        <p id="tipo_clase" class="error_text"></p>
                    </div>
                </div>
                <div class="formEstudianteUpdate tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    <br>
                    <h3>Información de los padres</h3>
                    <hr>
                    <h5><center>Información de la Madre</center></h5>
                    <div>
                        <label for="" style="font-weight: 500;">{{form.nombre_completo_madre.label}}:</label>
                        {{form.nombre_completo_madre}}
                        <p id="nombre_completo_madre" class="error_text"></p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.cedula_madre.label}}:</label>
                            {{form.cedula_madre}}
                            <p id="cedula_madre" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.lugar_expedicion_madre.label}}:</label>
                            {{form.lugar_expedicion_madre}}
                            <p id="lugar_expedicion_madre" class="error_text"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.celular_madre.label}}:</label>
                            {{form.celular_madre}}
                            <p id="celular_madre" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.email_madre.label}}:</label>
                            {{form.email_madre}}
                            <p id="email_madre" class="error_text"></p>
                        </div>
                    </div>
                    <h5><center>Información del Padre</center></h5>
                    <div>
                        <label for="" style="font-weight: 500;">{{form.nombre_completo_padre.label}}:</label>
                        {{form.nombre_completo_padre}}
                        <p id="nombre_completo_padre" class="error_text"></p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.cedula_padre.label}}:</label>
                            {{form.cedula_padre}}
                            <p id="cedula_padre" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.lugar_expedicion_padre.label}}:</label>
                            {{form.lugar_expedicion_padre}}
                            <p id="lugar_expedicion_padre" class="error_text"></p>
                        </div>
                    </div>
                   <div class="row">
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.celular_padre.label}}:</label>
                            {{form.celular_padre}}
                            <p id="celular_padre" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.email_padre.label}}:</label>
                            {{form.email_padre}}
                            <p id="email_padre" class="error_text"></p>
                        </div>
                   </div>
                   <br>
                   <h4>Información de ubicacion de los padres</h4>
                   <div class="row">
                    <div class="col-md-6">
                        <label for="" style="font-weight: 500;">{{form.direccion_A.label}}:</label>
                        {{form.direccion_A}}
                        <p id="direccion" class="error_text"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="" style="font-weight: 500;">{{form.barrio_A.label}}:</label>
                            {{form.barrio_A}}
                            <p id="barrio" class="error_text"></p>
                        </div>
                   </div>
                    <div>
                        <label for="" style="font-weight: 500;">{{form.ciudad_A.label}}:</label>
                        {{form.ciudad_A}}
                        <p id="ciudad" class="error_text"></p>
                    </div>
                    <br>
                </div>
                <div class="tab-pane fade" id="docs-tab-pane" role="tabpanel" aria-labelledby="docs-tab" tabindex="0">
                    <br>
                    <h3>Documentos </h3>
                    <br>
                    <form action="{%url 'modificarDocsEstudiante' object.pk%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                    <h5><strong>Documento de identidad:</strong></h5>
                                    {{form.documento_A}}
                            </div>
                            <div class="col-md-6">
                                <h5><strong>EPS</strong></h5>
                                {{form.seguro_A}}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <h5><strong>Firma:</strong></h5>
                                {{form.firma}}
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success w-100">Actualizar documentos</button>
                    </form>
                    <br>
                </div>
                <div class="formEstudianteUpdate tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                    <br>
                    <h3>Información del contacto de emergencia </h3>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <h5><strong>Nombre del contacto de emergencia:</strong></h5>
                            {{form.nombre_contactoE}}
                            <p class="error_text" id="nombre_contactoE"></p>
                        </div>
                        <div class="col-md-6">
                            <h5><strong> Telefono del contacto de emergencia:</strong></h5>
                            {{form.telefono_contactoE}}
                            <p class="error_text" id="telefono_contactoE"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <h5><strong> Relacion con el alumno:</strong></h5>
                            {{form.relacion_contactoE}}
                            <p class="error_text" id="relacion_contactoE"></p>
                        </div>
                        <input type="hidden" name="estado" value="{{object.estado}}">
                    </div>
                    <br>
                    <button class="btn btn-success w-100" onclick="ModificarEstudiante('{%url 'modificarEstudiante' object.pk%}')">Modificar estudiante</button>
                    <br>
                </div>
                
                <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
                    <br>
                    <h3>Información del Registro </h3>
                    <br>
                    {%if object.tipo_clase == '1' %}
                        <form action="{%url 'modificarRegistroEstudiante' registro.pk%}" method="post" id="ModificarRegistroEstudianteForm">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <Label><strong>Inicio de clases: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                                {{formRegistro.inicioClase}}
                                <p id="inicioClase" class="bg-light text-danger" style="color: #dc3545;"></p>
                                <br>
                            </div>
                            <div class="col-md-6">
                                <Label  style="margin-bottom: 10px;"><strong>Fin de las clases: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                                <br>
                                {{formRegistro.finClase.value|date:'d/m/Y'}}
                                <p id="finClase" class="bg-light text-danger" style="color: #dc3545;"></p>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <Label><strong>Hora de la clase: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                                {{formRegistro.horaClase}}
                                <p id="horaClase" class="bg-light text-danger" style="color: #dc3545;"></p>
                                <br>
                            </div>
                            <div class="col-md-6">
                                <Label><strong>Profesor: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                                {{formRegistro.profesor}}
                                <p id="profesor" class="bg-light text-danger" style="color: #dc3545;"></p>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <Label><strong>Nivel: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                                {{formRegistro.nivel}}
                                <p id="nivel" class="bg-light text-danger" style="color: #dc3545;"></p>
                                <br>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check" style="margin-top: 30px">
                                    <Label class="form-check-label"><strong>Matrícula pagada: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                                    {{formRegistro.pagado}}
                                </div>
                                    <p id="pagado" class="bg-light text-danger" style="color: #dc3545;"></p>
                                    <br>
                            </div>
                        </div>
                        <input type="hidden" name="estudiante" value="{{object.pk}}">
                        <button type="button" class="btn btn-success w-100" onclick="ModificarRegistroEstudiante()">Modificar Registro del estudiante </button>
                    </form>

                    {% elif object.tipo_clase == '2'%}
                    <form action="{%url 'modificarRegistroEstudiante' registro.pk%}" method="post" id="ModificarRegistroEstudianteForm">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <Label><strong>Inicio de clases: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                            {{formRegistro.inicioClase}}
                            <p id="inicioClase" class="bg-light text-danger" style="color: #dc3545;"></p>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <Label  style="margin-bottom: 10px;"><strong>Fin de las clases: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                            <br>
                            {{formRegistro.finClase.value|date:'d/m/Y'}}
                            <p id="finClase" class="bg-light text-danger" style="color: #dc3545;"></p>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <Label><strong>Hora de la clase: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                            {{formRegistro.horaClase}}
                            <p id="horaClase" class="bg-light text-danger" style="color: #dc3545;"></p>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <Label><strong>Meses de suscripción: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                            <select name="meseSus" id="mesesSus"  class="form-select">
                                <option value="1">1 Mes</option>
                                <option value="2">2 Meses</option>
                                <option value="3">3 Meses</option>
                                <option value="4">4 Meses</option>
                                <option value="5">5 Meses</option>
                                <option value="6">6 Meses</option>
                            </select>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <Label><strong>Días de la clase: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                            {{formRegistro.diaClase}}
                            <p id="diaClase" class="bg-light text-danger" style="color: #dc3545;"></p>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <Label><strong>Profesor: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                            {{formRegistro.profesor}}
                            <p id="profesor" class="bg-light text-danger" style="color: #dc3545;"></p>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <Label><strong>Nivel: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                            {{formRegistro.nivel}}
                            <p id="nivel" class="bg-light text-danger" style="color: #dc3545;"></p>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check" style="margin-top: 30px">
                                <Label class="form-check-label"><strong>Matrícula pagada: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                                {{formRegistro.pagado}}
                            </div>
                                <p id="pagado" class="bg-light text-danger" style="color: #dc3545;"></p>
                                <br>
                        </div>
                    </div>
                    <input type="hidden" name="estudiante" value="{{object.pk}}">
                    <button type="button"  class="btn btn-success w-100"onclick="ModificarRegistroEstudiante()">Modificar Registro del estudiante</button>
                </form>
                    {%endif%}
                    <br>
                   
                </div>
                <br>
            </div>
            <br> 
    </div>

{% endblock contenido %}

{%block scripts%}
<script src="{% static 'libs/datepicker/dist/datepicker.js' %}"></script>
<script src="{% static 'libs/datepicker/i18n/datepicker.es-ES.js' %}"></script>
<script>
    $(document).ready(function(){
        $('#profile-tab-pane').tab('show')
        $("#id_fecha_nacimiento").datepicker({
            language: 'es-ES',
            format: "dd/mm/YYYY",
            autoHide: true,
            
        });
        $("#id_inicioClase").datepicker({ 
            language: 'es-ES',
            format: "dd/mm/YYYY",
            autoHide: true,
            
        });
        $("#id_finClase").datepicker({
            language: 'es-ES',
            format: "dd/mm/YYYY",
            autoHide: true,
            
        });
    })

</script>
{%endblock scripts%}