{% load static %}

<link rel="stylesheet" href="{%static 'css/horarioPuntual.css'%}">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Registro de {{estudiante.get_estudiante}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body" style="height: 80vh; overflow: auto;">

      {%if estudiante.tipo_clase == '1' %}
        <form action="{% url 'crearNuevosEstudiantes' estudiante.pk %}" method="post" id="RegistrarEstudianteForm">
          {% csrf_token %}
          <Label><strong>Estudiante:</strong></Label>
          <h5>{{estudiante.get_estudiante}}</h5>
          <p id="estudiante" class="bg-light text-danger" style="color: #dc3545;"></p>
          <br>


          <div class="container">
              <!-- cabezera -->
              <div class="headerPuntual" style="display: flex; justify-content:space-between;">
                  <label for="" style="font-size: 17px; font-weight: 700;">Horarios:</label>
                  <div style="display: grid;grid-template-columns:1fr 1fr;grid-gap:5px;"><div style="width:100%;background-color:red; padding:0 0px 0 12px;margin-bottom:5px;border-radius:5px; cursor:pointer;" onclick="eliminarClase()"><i class="fa fa-times"style="font-size:16px;"></i> </div><div style="width:100%;background-color:cyan; padding:0 10px;margin-bottom:5px;border-radius:5px; cursor:pointer;" onclick="agregarClase()"><i class="fa fa-plus"style="font-size:15px;"></i></div></div>
              </div>
              <!-- cartas -->
              <div class="containerPuntual">
                  <div class="cartaPuntual">
                      <div class="toggleView" style="visibility: hidden;" onclick="act(this)">
                          <i class="fa fa-compress"></i>
                      </div>
                      <div class="cardContenido">
                          <h4 class="tituloCarta">
                              Horario 1
                          </h4>
                          <div class="bodyCarta">
                              <Label><strong>Dia  de la  clase: <sup style="color: #dc3545;">(*)</sup></strong></Label>
                              <input type="date" idPer="inicioClase0" name="inicioClase"  autocomplete="off" class="form-control">
                              <p id="inicioClase0" class="bg-light text-danger" style="color: #dc3545;"></p>
                              
                              <Label><strong>Hora de la clase: <sup style="color: #dc3545;">(*)</sup></strong></Label>
                              <input type="time" idPer="horaClase0" name="horaClase" class="form-control" step="3600">
                              <p id="horaClase0" class="bg-light text-danger" style="color: #dc3545;"></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <br>
          <Label><strong>Profesor: <sup style="color: #dc3545;">(*)</sup></strong></Label>
          {{form.profesor}}
          <p id="profesor" class="bg-light text-danger" style="color: #dc3545;"></p>
          <br>
          <Label><strong>Nivel: <sup style="color: #dc3545;">(*)</sup></strong></Label>
          {{form.nivel}}
          <p id="nivel" class="bg-light text-danger" style="color: #dc3545;"></p>
          <br>
          <div class="form-check">
            <Label class="form-check-label"><strong>Matrícula pagada: <sup style="color: #dc3545;">(*)</sup></strong></Label>
            {{form.pagado}}
          </div>
            <p id="pagado" class="bg-light text-danger" style="color: #dc3545;"></p>
            <br>
          <input type="hidden" name="estudiante" value="{{estudiante.pk}}">
          <button type="button" onclick="RegistrarEstudianteSinRegistroClasePuntual()"  class="btn btn-success w-100">Registrar Estudiante </button>
          
      </form>
    {% elif estudiante.tipo_clase == '2'%}
    <form action="{% url 'crearNuevosEstudiantes' estudiante.pk %}" method="post" id="RegistrarEstudianteForm">
      {% csrf_token %}
      <Label><strong>Estudiante:</strong></Label>
      <h5>{{estudiante.get_estudiante}}</h5>
      <p id="estudiante" class="bg-light text-danger" style="color: #dc3545;"></p>
      <br>
      <Label><strong>Inicio de clases: <sup style="color: #dc3545;">(*)</sup></strong></Label>
     <input type="date" name="inicioClase"  autocomplete="off" class="form-control">
      <p id="inicioClase" class="bg-light text-danger" style="color: #dc3545;"></p>
      <br>
      <div class="headerHorario" style="display: flex; justify-content:space-between;">
        <label for="" style="font-weight: 500;">Calendario:</label>
        <div style="display: grid;grid-template-columns:1fr 1fr;grid-gap:5px;"><div style="width:100%;background-color:red; padding:0 0px 0 12px;margin-bottom:5px;border-radius:5px; cursor:pointer;" onclick="eliminarHoras()"><i class="fa fa-remove"style="font-size:16px;"></i> </div><div style="width:100%;background-color:cyan; padding:0 10px;margin-bottom:5px;border-radius:5px; cursor:pointer;" onclick="agregarHoras()"><i class="fa fa-plus"style="font-size:15px;"></i></div></div>
    </div>
    <div class="form-control" id="horarios" style="height: 160px; display: flex; justify-content:start; overflow: auto;">
        
    </div>
    <p id="horarios-p" style="display: none;"></p>
      <br>
      <Label><strong>Meses de suscripción: <sup style="color: #dc3545;">(*)</sup></strong></Label>
      <select name="meseSus" id="mesesSus"  class="form-select">
        <option value="1">1 Mes</option>
        <option value="3">3 Meses</option>
        <option value="6">6 Meses</option>
        <option value="12">1 año</option>
        <option value="24">2 año</option>
        <option value="36">3 año</option>
      </select>
      <p id="meses" class="bg-light text-danger" style="color: #dc3545;"></p>
      <br>
      <Label><strong>Profesor: <sup style="color: #dc3545;">(*)</sup></strong></Label>
      {{form.profesor}}
      <p id="profesor" class="bg-light text-danger" style="color: #dc3545;"></p>
      <br>
      <Label><strong>Nivel: <sup style="color: #dc3545;">(*)</sup></strong></Label>
      {{form.nivel}}
      <p id="nivel" class="bg-light text-danger" style="color: #dc3545;"></p>
      <br>
      <div class="form-check">
        <Label class="form-check-label"><strong>Matrícula pagada: <sup style="color: #dc3545;">(*)</sup></strong></Label>
        {{form.pagado}}
      </div>
        <p id="pagado" class="bg-light text-danger" style="color: #dc3545;"></p>
        <br>
      <input type="hidden" name="estudiante" value="{{estudiante.pk}}">
      <button type="button" onclick="RegistrarEstudianteSinRegistro(this)"  class="btn btn-success w-100">Registrar Estudiante</button>
  </form>
    {%endif%}
      <div class="container alert alert-warning  alert-dismissible fade show" role="alert" id="EstudianteSinRegistrAlert">
        <h5 id="texto"></h5>
 </div>
    </div>
  </div>
</div>
<script>
  var idCal = 0
  $(document).ready(function () {
   $("#EstudianteSinRegistrAlert").hide()
   $("#id_diaClase").change(function(){
    token = $("input[name=csrfmiddlewaretoken]").val()
    console.log($(this).val())
    dias = JSON.stringify($(this).val())
    console.log(dias)
        $.ajax({
          url: "{%url 'validarRegistroEstudiante'%}",
          type: "POST",
          data: {"csrfmiddlewaretoken": token, "dia":dias, "estudiante":"{{estudiante.pk}}"},
          success: function(data){
            if(data["cant"]>1){
              var estudiante = "Estudiantes"
            }else{
              var estudiante = "Estudiante"
            }
            var text = "Hay <strong>"+data["cant"]+"</strong> "+estudiante+" en el nivel "+data["nivel"]+" el día "+$("#id_diaClase option:selected").text()
            console.log(text)
            $("#texto").html(text)
            $("#EstudianteSinRegistrAlert").show()  
          },
          error: function(error){
            console.log("kiwi")
          }
        })
   })
 });
 function agregarHoras(){
  const divHorario = document.createElement('div');
  const inputHorario = document.createElement("input");
  inputHorario.type = "time";
  inputHorario.className = "form-control";
  inputHorario.autocomplete = "off";
  const dateDay = document.createElement("select");
  dateDay.className = "dia";
  dateDay.classList.add("form-select")
  dateDay.style.marginBottom = "5px";
  dateDay.autocomplete = "off";
  let optionSelected = document.createElement("option");
  optionSelected.innerHTML = "Eliga un día"
  optionSelected.selected = true
  dateDay.appendChild(optionSelected)
  let dias = {"1":"Lunes","2":"Martes","3":"Miércoles","4":"Jueves","5":"Viernes","6":"Sábado","0":"Domingo"}
  for (let i = 0; i < 7; i++) {
      let option = document.createElement("option");
      option.value = i
      option.innerHTML = dias[i]
      dateDay.appendChild(option)
  }
  
  let pHorario = document.createElement("label");
  pHorario.textContent = "Hora de la clase:"
  pHorario.style.textAlign = "center";
  pHorario.style.fontWeight = "bold";
  divHorario.appendChild(dateDay);
  divHorario.appendChild(pHorario);
  divHorario.appendChild(inputHorario);
  divHorario.style.margin = "0 5px"
  divHorario.id = "Calendario"+idCal
  idCal= idCal+1
  document.getElementById('horarios').appendChild(divHorario);
}
function eliminarHoras(){
  let child = document.getElementById('horarios').lastChild;
  document.getElementById('horarios').removeChild(child);
  idCal = idCal - 1
}
</script>

<script src="{%static 'js/clases.js' %}"></script>
