<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><strong>Crear picadero</strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form action="{% url 'crearPicadero' %}" method="post" id="crearPicaderoForm">
            {% csrf_token %}
            <Label style="font-size: 15px;"><strong>Nombre del picadero: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
            {{form.nombre}}
            <p id="nombre" class="bg-light error_text" style="color: #dc3545;"></p>

            <div class="row">
              <div class="col-6">
                <Label style="font-size: 15px;"><strong>Máximo de alumnos para este picadero: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                {{form.max_estudiantes}}
                <p id="max_estudiantes" class="bg-light error_text" style="color: #dc3545;"></p>
              </div>

              <div class="col-6">
                <Label style="font-size: 15px;"><strong>Máximo de instructores para este picadero: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
                {{form.max_profesores}}
                <p id="max_profesores" class="bg-light error_text" style="color: #dc3545;"></p>
              </div>

            </div>

            <Labe style="font-size: 15px;"l><strong>Nivel del picadero: <sup class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  class="required"  style="color: #dc3545;">*</sup></strong></Label>
            {{form.nivel}}
            <p id="nivel" class="bg-light error_text" style="color: #dc3545;"></p>
            <br>
          </form>   
      </div>
      <div class="modal-footer">
        <button onclick="CrearPicadero()" class="btn btn-success"><i class="fa-regular fa-floppy-disk"></i> Craer picadero</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i> Cancelar</button>
      </div>
    </div>
</div>
