{% extends 'base.html' %}
{% load static %}
{% block titulo %}Inicio{% endblock titulo %}
{%block estilos%}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<!-- CSS only -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="{% static 'libs/datepicker/dist/datepicker.css' %}">
{%endblock estilos%}
{% block contenido %}
<div class="container">
    <div class="row">
     <div class="col-md-10">
         <h1>Administración de Usuarios</h1>
     </div>
     <div class="col-md-2">
        <div class="btn btn-outline-success btn-lg" onclick="userAdd('{%url 'registroUsuario'%}')"> <i class="fa-solid fa-user-plus fa-xl"></i></div>
     </div>
    </div>
     <hr>
     <div class="filtroTipoUsuario">
        <div>Mostrando 
            {%if filter.value == 'P'%}
            profesores
            {%endif%}
            {%if filter.value == 'A'%}
            administradores
            {%endif%}
            {%if filter.value == 'All'%}
            todos los usuarios
            {%endif%}</div>
        <div>
            <select name="filterType" id="filterTypeSelect" class="form-select" onchange="filter(this.value)"style="width:auto;">
                <option value="{{filter.value}}" selected="selected">{{filter.cont}}</option>
                {%if filter.value != 'P'%}
                <option value="P">Profesores</option>
                {%endif%}
                {%if filter.value != 'A'%}
                <option value="A">Administradores</option>
                {%endif%}
                {%if filter.value != 'All'%}
                <option value="All">Todos</option>
                {%endif%}
            </select>
            <form action='{%url "index"%}' method="post" id="filterTypeForm"><input type="hidden" name="value" id="filterType">{%csrf_token%}</form>
        </div>
    </div>
     <br>
     <table id="UsuariosTable" class="table" width="100%">
         <thead>
            <tr>
                <th>Tipo</th>
                <th>Usuario</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Celular</th>
                <th>Cedula</th>
                <th>Fecha de nacimiento</th>
                <th>Email</th>
                <th>acciones</th>
            </tr>
         </thead>
         <tbody>
             {% for usuario in Usuarios %}
                 <tr>
                    <td>
                        <div id="UserType{{forloop.counter}}" style="width: 100%; text-align: center; color:#fff; border:1px solid rgba(0,0,0,0.5);"></div>
                        {%if usuario.administrador%}
                        <script>
                            let div{{forloop.counter}} = document.getElementById('UserType{{forloop.counter}}');
                            div{{forloop.counter}}.innerHTML="<strong>A</strong>";
                            div{{forloop.counter}}.style.backgroundColor="red";
                        </script>
                        {%else%}
                        <script>
                            let div{{forloop.counter}} = document.getElementById('UserType{{forloop.counter}}');
                            div{{forloop.counter}}.innerHTML="<strong>P</strong>";
                            div{{forloop.counter}}.style.backgroundColor="green";
                        </script>
                        {%endif%}</td>
                     <td>{{usuario.usuario}}</td>
                     <td>{{usuario.nombres}}</td>
                     <td>{{usuario.apellidos}}</td>
                     <td>{{usuario.celular}}</td>
                     <td>{{usuario.cedula}}</td>                     
                     <td>{{usuario.fecha_nacimiento}}</td>
                     <td>{{usuario.email}}</td>
                     <td>
                        <div style="display:grid; width:100%; grid-template-columns:repeat(2,1fr);">
                            <button style="margin-right:10px"  class="btn btn-outline-warning btn-sm" onclick="userUpdate('{%url 'funcionesUsuario' usuario.pk%}')"><i class="fa-solid fa-pencil"></i></button>
                            <div style="margin-right:10px" class="form-check form-switch">
                                <form id="EstadoUsuarioForm" method="post" action="{% url 'editarEstadoUsuario' %}">
                                    {%csrf_token%}
                                    <div class="form-check form-switch switch-Cambio-TipoServicio" style="">
                                        <input class="form-check-input" type="checkbox" style="margin-left: -15px;" role="switching" {% if usuario.estado  %}
                                        checked
                                        {% endif %} onclick="cambiar_estado_usuario('{{usuario.pk}}')">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </td>
                 </tr>
             {% endfor %}
         </tbody>
     </table>
 </div>
{% endblock contenido %}
{% block modals %}
<div class="modal fade" id="registrarUsuario" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
</div>
<div class="modal fade" id="editarUsuario" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
</div>
{% endblock modals %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
    $(document).ready(function(){
        $("#UsuariosTable").DataTable({responsive:true});
    })
    function cargar(){
        console.log('carga')
        $('.selectpicker').selectpicker();
        $("#fecha_nacimiento").datepicker({ 
            language: 'es-ES',
            format: "dd/mm/YYYY",
            autoHide: true,
        });
        console.log('lso')
    }
    function filter(valor){
        document.getElementById("filterType").value=valor
        document.getElementById('filterTypeForm').submit()
    }
    function userAdd(url){
        let valor = document.getElementById('filterTypeSelect').value
        url = url+"?type="+valor
        $("#registrarUsuario").load(url, function (){ 
        $(this).appendTo("body").modal('show');
        });
    }
    function userUpdate(url){
        $("#editarUsuario").load(url, function (){ 
            $(this).appendTo("body").modal('show');
        });
    }
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="{% static 'libs/datepicker/dist/datepicker.js' %}"></script>
<script src="{% static 'libs/datepicker/i18n/datepicker.es-ES.js' %}"></script>
{% endblock scripts %}