{%extends 'base.html' %}
{% block titulo %}Alumnos de {{Profesor}}{% endblock titulo %}
{%block estilos%}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<!-- CSS only -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{%endblock estilos%}
{% block contenido %}
<div class="container">
    <div class="row">
        <a href="{%url 'profesores'%}">Volver</a>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h1>Alumnos de {{Profesor}}</h1>
        </div>
        <div class="col-md-2">
           <button class="btn btn-outline-success btn-lg" onclick="agregarEstudiantes()"> <i class="fa-solid fa-person-circle-plus fa-xl"></i></button>
           <button class="btn btn-outline-dark btn-lg" onclick="pasarEstudiantes()"> <i class="fa fa-people-group"></i></button>
            
        </div>
       </div>
    <br><br>
    <table id="RegistrosTable" class="table" width="100%">
        <thead>
           <tr>
            <th>Alumno</th>
            <th>Nivel</th>
            <th>Madre</th>
            <th>Número de madre</th>
            <th>Padre</th>
            <th>Número de padre</th>
            <th>Acciones</th>
           </tr>
        </thead>
        <tbody>
            {%if Registros%}
                {% for registro in Registros %}
                    <tr style="height: 40px;">
                        <td>{{registro.estudiante.nombre_completo}}</td>
                        <td><div style="text-align: center; padding: 5px 5px; margin: 5px; border-radius: 10px; background-color: {{registro.nivel.color_fondo}};color:{{registro.nivel.color_letra}}; ">{{registro.nivel.nivel}}</div></td>
                        <td>{{registro.estudiante.nombre_completo_madre}}</td>
                        <td>{{registro.estudiante.celular_madre}}</td>
                        <td>{{registro.estudiante.nombre_completo_padre}}</td>
                        <td>{{registro.estudiante.celular_padre}}</td>
                        <td>
                            <div style="display:inline-flex; ">
                                <a href="{%url 'verEstudiante' Profesor.pk%}?id_registro={{registro.pk}}" style="margin-right:10px" class="btn btn-outline-info btn-sm"><i class="fa-solid fa-eye"></i></a>
                                <button style="margin-right:10px"  class="btn btn-outline-danger btn-sm" onclick="removerEstudiante('{{registro.pk}}','{{registro.estudiante}}')"><i class="fa-solid fa-minus-circle"></i></button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {%endif%}
        </tbody>
    </table>
</div>
{%endblock contenido%}
{% block modals %}
<div class="modal fade" id="agregarEstudiantesP" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal fade" id="pasarEstudiantes" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"></div>
</div>
{% endblock modals %}
{% block scripts %}
<script>
    function cargar(){
        $('.selectpicker').selectpicker();
    }
    $(document).ready(function(){
        $("#RegistrosTable").DataTable({responsive:true})
    })
    function agregarEstudiantes(){
        url = '{%url "agregarEstudiante" Profesor.pk%}'
        $("#agregarEstudiantesP").load(url, function (){ 
            $(this).appendTo("body").modal('show');
        });
    }
    function pasarEstudiantes(){
        url = '{%url "pasarEstudiantes" Profesor.pk%}'
        $("#pasarEstudiantes").load(url, function (){ 
            $(this).appendTo("body").modal('show');
        });
    }
    function removerEstudiante(id, estudiante){
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success buttonSweetalert',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
          })
          
          swalWithBootstrapButtons.fire({
            title: 'Estás seguro?',
            text: "El alumno "+estudiante+" dejará de estar relacionado con el instructor {{Profesor}}",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Si, remover',
            cancelButtonText: 'No, cancelar',
            reverseButtons: true
          }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url:'{%url "verEstudiantes" Profesor.pk%}',
                    data:{
                        'csrfmiddlewaretoken':csrftoken,
                        'estudiante':id,
                        'tipo':'delete'
                    },
                    type: 'POST',
                    success: function(data) {
                        swalWithBootstrapButtons.fire(
                            'Removido!',
                            'El alumno '+estudiante+' ha dejado de estar relacionado con el instructor {{Profesor}}',
                            'success'
                        )
                        window.location.reload()
                    },
                    error: function(error) {
                        Error = error['responseJSON']
                        swalWithBootstrapButtons.fire(
                            'Ha ocurrido un error',
                            ''+Error['error'],
                            'error'
                        )
                    }
                })
              
            } else if (
              /* Read more about handling dismissals below */
              result.dismiss === Swal.DismissReason.cancel
            ) {
              swalWithBootstrapButtons.fire(
                'Cancelado',
                'No se ha realizado ningún cambio.',
                'error'
              )
            }
          })
    }
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
{% endblock scripts %}