{%extends 'base.html' %}
{% block titulo %}Alumno de {{profesor}}{% endblock titulo %}
{%block estilos%}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<!-- CSS only -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    h3{
        font-weight: 350;
    }
</style>
{%endblock estilos%}
{% block contenido %}
<div class="container">
    <div class="row">
        {%if user.administrador%}
        <a href="{%url 'verEstudiantes' profesor.pk%}">Volver</a>
        {%else%}
        <a href="{%url 'profesores'%}">Volver</a>
        {%endif%}
    </div>
    <div class="row">
        <div class="col-md-10">
            <h1>Alumno de {{profesor}}</h1>
        </div>
    </div>
    <hr>
    <div class="row" style="display: grid; grid-template-columns: 1fr 1fr;">
        <div>
            <h2>Nombre: </h2>
            <h3>{{registro.estudiante.nombre_completo}}</h3>
        </div>
        <div>
            <h2>Edad: </h2>
            <h3>{{edad}}</h3>
        </div>
    </div>
    <h2>Nivel:</h2>
    <div style="text-align: center; padding: 5px 5px; margin: 5px; border-radius: 10px; background-color: {{registro.nivel.color_fondo}};color:{{registro.nivel.color_letra}}; ">{{registro.nivel.nivel}}</div>
    <h2>Clases: </h2>
    
    <div style="display:grid; grid-template-columns: repeat(2,1fr); grid-gap:10px;">
        {% for calendario in calendarios %}
            <div>
                <div style="font-size: 15px;">Inicia clases el {{calendario.inicioClase}} y finaliza el {{calendario.finClase}}</div>
                <div>Hora de clases a la/s {{calendario.horaClase|date:'g a'}}</div>
                <div>Días de clase: {{calendario.get_diaClase_display}}</div>
            </div>
        {% endfor %}
    </div>
    {% if  registro.estudiante.nombre_completo_madre%}
    <hr>
    <div class="row" style="display: grid; grid-template-columns: 1fr 1fr;">
        <div>
            <h2>Nombre del madre: </h2>
            <h3>{{registro.estudiante.nombre_completo_madre}}</h3>
        </div>
    </div>
    {% endif %}
    {% if registro.estudiante.nombre_completo_padre %}
    <hr>
    <div class="row" style="display: grid; grid-template-columns: 1fr 1fr;">
        <div>
            <h2>Nombre del padre: </h2>
            <h3>{{registro.estudiante.nombre_completo_padre}}</h3>
        </div>
    </div>
    {% endif %}
    <hr>
    <div class="row" style="display: grid; grid-template-columns: 1fr 1fr;">
        <div>
            <h2>Nombre del contacto de emergencia: </h2>
            <h3>{{registro.estudiante.nombre_contactoE}}</h3>
        </div>
    </div>
</div>
{%endblock contenido%}
{% block modals %}
{% endblock modals %}
{% block scripts %}
{% endblock scripts %}