{% extends 'base.html' %}
{% load static %}
{% block titulo %}{%for Profesor in Profesor%}Información del instructor {{Profesor.profesor.usuario.usuario}}{%endfor%}{% endblock titulo %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/estilosBase.css' %}">
{% endblock estilos %}

{% block contenido %}
<div class="container cont_list">
    <a class="mb-3" href="{%url 'profesores'%}">Volver</a>
    {%for Profesor in Profesor%}
    <div class="card">
        
        <h3>{{Profesor.profesor.usuario.nombres}} {{Profesor.profesor.usuario.apellidos}}</h3>
        <center><hr style="width: 95%;"></center> 
        <div>
            <h2>Niveles: </h2>
            <div style="display:flex;">
                {%for nivel in Profesor.profesor.niveles.all%}
                <div style="text-align: center; padding: 5px 10px; margin: 5px; border-radius: 20px; background-color: {{nivel.color_fondo}};color:{{nivel.color_letra}}; ">
                    {{nivel.nivel}}
                </div>
                {%endfor%}
            </div>
        </div>
        <hr>
        <div>
            <h2>Horarios: </h2>
            <div>
                {%for horario in Profesor.horario%}
                <h3 style="font-weight: 400; margin-left:10px;">{{horario}}</h3>
                {%endfor%}
            </div>
        </div>
    </div>
{%endfor%}
</div>

{% endblock contenido %}

    