<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{object.nivel}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form action="{% url 'modifcarNivel' object.pk %}" method="post" id="ModificarNivelForm">
            {% csrf_token %}
            <label>Nivel: <strong class="required">(*)</strong></label>
            {{form.nivel}}
            <p class="error_text" id="nivel"></p>
            <br>
            <label>Color de fondo: <strong class="required">(*)</strong></label>
            <input type="color" value="{{object.color_fondo}}" name="color_fondo" id="id_color_fondo" class="form-control">
            <p class="error_text" id="color_fondo"></p>
            <br>
            <label>Color de las letras: <strong class="required">(*)</strong></label>
            <input type="color" value="{{object.color_letra}}" name="color_letra" id="id_color_letra" class="form-control">
            <p class="error_text" id="color_letra"></p>
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success w-100" onclick="ModificarNivel()">Guardar cambios</button>
      </div>
    </div>
  </div>