{%extends 'base.html' %}
{% block titulo %}Niveles{% endblock titulo %}

{% block contenido %}
<style>
    .encabezado{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.addNiv{
    background-color: #14284b;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 100px;
}

    .niv{
    /* background-color: rgb(91, 91, 201); */
    background-image: linear-gradient(to right, rgb(72, 72, 175) , rgb(112, 112, 172));
    width: 100%;
    height: 80px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.tit{
    
    /* color: white; */
    height: 30px;
    display: flex;
    align-items: center;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 15px;
    border-radius: 50px;
    font-weight: bold;
}

.tit p{
    padding-top: 15px;
}
.circ{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circ i{
    font-size: 30px;
    
}
</style>
<div class="container mt-5">
    <div class="row justify-content-between mb-5 encabezado">
        <div class="col-md-8">
            <h2>Gestión de niveles</h2>
            <small>Sección que permite administrar la información de los niveles</small>
        </div>
        <div class="col-md-3">
            <button class="btn addNiv" onclick="abrir_registro_nivel_modal('{%url 'craerNivel'%}')">Crear nuevo &nbsp; <i class="fa-solid fa-plus"></i></button>
        </div>
    </div>

    <!-- <div class="row">
     <div class="col-md-10">
         <p>Administración de Niveles</p>
     </div>
     <div class="col-md-2">
        <a onclick="abrir_registro_nivel_modal('{%url 'craerNivel'%}')" class="btn " >Crear nivel &nbsp; <i class="fa-solid fa-plus fa-lg"></i></a>
     </div>
    </div> -->
     <!-- <hr> -->
     <div class="row" style="margin-bottom: 10px;">
        {% for nivel in niveles  %}
            <div class="col-3 mb-4" onclick="GetNivel('{%url 'modifcarNivel' nivel.pk %}')">
                <div class="niv" style="background: {{nivel.color_fondo}};">
                    <div class="tit" style="background-color: {{nivel.color_fondo}};">
                        <p style=" color: {{nivel.color_letra}};">{{nivel.nivel}}</p>
                    </div>
                    <div class="circ">
                        <i class="fa-solid fa-star" style="color: {{nivel.color_fondo}};text-shadow: 1px 1px 5px {{nivel.color_letra}};"></i>
                    </div>
                </div>
            </div>
        {% endfor %}
     </div>

 </div>

<div class="modal fade" id="ModificarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
<div class="modal fade" id="AbirModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
{%endblock contenido%}

{% block scripts %}
    <script>
        function GetNivel(url){
            $("#ModificarModal").load(url, function(){
                $(this).appendTo("body").modal("show")
            })
        }
    </script>
{% endblock scripts %}
    


<div class="row">
    <div class="col-3">
        <div class="nivelStyle" style="background-color: {{nivel.color_fondo}};"></div>
    </div>
    <div class="col-9">
        <p style="color: {{nivel.color_letra}};">{{nivel.nivel}}</p>
    </div>
</div>