<style>
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width: 100%!important;}
    #horarios::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    #horarios::-webkit-scrollbar:vertical {
        width:5px;
    }
    #horarios::-webkit-scrollbar-button:increment,#horarios::-webkit-scrollbar-button {
        display: none;
    } 
    #horarios::-webkit-scrollbar:horizontal {
        height: 7px;
    }
    #horarios::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
        border: 2px solid #f1f2f3;
    }
    #horarios::-webkit-scrollbar-track {
        border-radius: 10px;  
    }
</style>
<div class="modal-dialog modal-lg " id="ModalUserAddDiv">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title ModalUserAddTitle" id="staticBackdropLabel titleModalUserAdd">Registro de {{forms.title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="height: 80vh; overflow: auto;">
        <div>
            <select name="filterType" id="filterTypeSelect modal" class="form-select" onchange="filterModal(this.value)"style="width:auto;">
                <option value="{{forms.filter.value}}" selected="selected" id="SelectedType">{{forms.filter.cont}}</option>{{forms.filter.cont}}</option>
                {%if forms.filter.value == 'P'%}
                <option value="A">Administradores</option>
                <option value="P" style="display: none;">Profesores</option>
                {%endif%}
                {%if forms.filter.value == 'All'%}
                <option value="A">Administradores</option>
                <option value="P" style="display: none;">Profesores</option>
                {%endif%}
                {%if forms.filter.value == 'A'%}
                <option value="P">Profesores</option>
                <option value="A" style="display: none;">Administradores</option>
                {{forms.filter.value}}
                {%endif%}
            </select>
            <br>
            <form action='{%url "registroUsuario"%}' method="post" id="filterTypeFormModal">{%csrf_token%}<input type="hidden" name="function" value="filtrar"></form>
        </div>
        <form action='{%url "registroUsuario"%}' method="post" id="RegistrarUsuarioForm">
            {%csrf_token%}
            <div id="FormularioUsuarios" class="FormularioUsuarios">
                {%for campo in forms.formUsuario %}
                <div>
                    <label for="" style="font-weight: 500;">{{campo.label}}:</label>
                    <br>{{campo}}<br class="beforeCampoUser">
                    <p id="" style="display: none;"></p>
                </div>
                {%endfor%}
                <script>
                    let befores = document.getElementsByClassName('beforeCampoUser')
                    for (let i = 0; i < befores.length; i++){
                        let before = befores[i].previousSibling.id
                        let after = befores[i].nextSibling.nextSibling
                        after.id = before + '-p'
                    }
                </script>
            </div>
            <div id="FormularioProfesores" style="{%if forms.filter.value == 'A'%}display:none;{%endif%}" class="FormularioProfesores">
                <div class="headerHorario" style="display: flex; justify-content:space-between;">
                    <label for="" style="font-weight: 500;">Horarios:</label>
                    <div style="display: grid;grid-template-columns:1fr 1fr;grid-gap:5px;"><div style="width:100%;background-color:red; padding:0 0px 0 12px;margin-bottom:5px;border-radius:5px; cursor:pointer;" onclick="eliminarHoras()"><i class="fa fa-remove"style="font-size:16px;"></i> </div><div style="width:100%;background-color:cyan; padding:0 10px;margin-bottom:5px;border-radius:5px; cursor:pointer;" onclick="agregarHoras()"><i class="fa fa-plus"style="font-size:15px;"></i></div></div>
                </div>
                <div class="form-control" id="horarios" style="height: 160px; display: flex; justify-content:start; overflow: auto;">
                </div>
                <p id="horarios-p" style="display: none;"></p>
                {%for campo in forms.formProfesor %}
                <div>
                    <label for="" style="font-weight: 500;">{{campo.label}}:</label>
                    <br>{{campo}}<br class="beforeCampoProfe">
                    <p id="" style="display: none;"></p>
                </div>
                {%endfor%}
                <script>
                    let beforen = document.getElementsByClassName('beforeCampoProfe')
                    for (let i = 0; i < beforen.length; i++){
                        let befored = beforen[i].previousSibling.id
                        let afterd = beforen[i].nextSibling.nextSibling
                        afterd.id = befored + '-p'
                    }
                </script>
            </div>
            <button class="btn btn-success" style="float: right;"type="button"onclick="registerUsuario()">Registrar</button>
            <br>
            <br>
            </form>
        {%csrf_token%}
        
      </div>
    </div>
  </div>
  <script>
    cargar()
    let documento = document.getElementById('ModalUserAddDiv');
    let campos = documento.querySelectorAll("input");
    let selects = documento.querySelectorAll("select");
    selects.forEach(function(select) {
        select.setAttribute("class", "form-select");
    });
    campos.forEach(function(campo) {
        campo.setAttribute("class", "form-control");
        if (campo.getAttribute('type')=="checkbox") {
            campo.classList.remove("form-control");
            campo.previousSibling.remove();
            campo.classList.add("checkbox");
        }
    }); 
    function filterModal(valor){
        $.ajax({
            url:$('#filterTypeFormModal').attr('action'),
            data:{
                'type':valor,
                'csrfmiddlewaretoken':$("#filterTypeFormModal").find('input[name=csrfmiddlewaretoken]').val(),
                'function':$("#filterTypeFormModal").find('input[name=function]').val(),
            },
            type: $("#filterTypeFormModal").attr('method'),
            success: function (data) {
                let title = document.getElementById('staticBackdropLabel titleModalUserAdd');
                let formPer = document.getElementById('FormularioProfesores');
                if(data.datos.filter.value == 'A'){
                    formPer.style.display = 'none';
                }
                else{
                    formPer.style.display = 'block';
                }
            }
        });
    }
    function registerUsuario(){
        let limpiarP = document.querySelectorAll('.is-invalid');
        limpiarP.forEach(function(limpiar){
            limpiar.classList.remove('is-invalid');
            let p_errors = document.getElementById('horarios-p')
            p_errors.innerHTML = ''
            p_errors.style.display = 'none'
        })
        niveles = $('#id_niveles').val();
        formulario = document.getElementById('RegistrarUsuarioForm');
        let usuario={}
        let profesor={}
        let type = ""
        if(formulario.childNodes[5].style.display == 'none'){
            type="User"
            formUser = document.getElementsByClassName('FormularioUsuarios')
            for (let i = 0; i < formUser.length; i++) {
                inputs = formUser[i].getElementsByTagName('input')
                selects = formUser[i].getElementsByTagName('select')
                for (let i = 0; i < inputs.length; i++) {
                    usuario[inputs[i].name]=inputs[i].value
                }
                for (let i = 0; i < selects.length; i++) {
                    usuario[selects[i].name]=selects[i].value
                }
            }
        }
        else{
            let divContHoras = document.getElementById('horarios').childNodes
            let horariosA = []
            if (divContHoras.length > 1){
                for (let i = 0; i < divContHoras.length; i++) {
                    horarios = {}
                    if(i != 0){
                        let inputs = divContHoras[i].childNodes
                        for (let j = 0; j < inputs.length; j++) { 
                            console.log(inputs[j].type)  
                            if(inputs[j].type == "time"){
                                if(inputs[j].classList.contains('from')){
                                    if(inputs[j].value != ""){
                                        horarios['from']=inputs[j].value
                                    }
                                    else{
                                        let p_errors = document.getElementById('horarios-p')
                                        p_errors.innerHTML = 'Por favor ingrese la hora de inicio'
                                        p_errors.style.display = 'block'
                                        p_errors.style.color = 'red'
                                        p_errors.previousSibling.previousSibling.classList.add('is-invalid');
                                        return 'error';
                                    }
                                }
                                else{
                                    if(inputs[j].value != ""){
                                    horarios['through']=inputs[j].value
                                    }
                                    else{
                                        let p_errors = document.getElementById('horarios-p')
                                        p_errors.innerHTML = 'Por favor ingrese la hora de finalización'
                                        p_errors.style.display = 'block'
                                        p_errors.style.color = 'red'
                                        p_errors.previousSibling.previousSibling.classList.add('is-invalid');
                                        return 'error';
                                    }
                                }
                            }
                            if (inputs[j].type == "select-one"){
                                if(inputs[j].value != ""){
                                    console.log(inputs[j].value)
                                    horarios['day']=inputs[j].value
                                }
                                else{
                                    let p_errors = document.getElementById('horarios-p')
                                    p_errors.innerHTML = 'Por favor ingrese un día relacionado'
                                    p_errors.style.display = 'block'
                                    p_errors.style.color = 'red'
                                    p_errors.previousSibling.previousSibling.classList.add('is-invalid');
                                    return 'error';
                                }
                            }
                        }
                        horariosA.push(horarios)
                    }
                }
            }
            else{
                let p_errors = document.getElementById('horarios-p')
                p_errors.innerHTML = 'Por favor agrega almenos un horario para este profesor'
                p_errors.style.display = 'block'
                p_errors.style.color = 'red'
                p_errors.previousSibling.previousSibling.classList.add('is-invalid');
                return 'error';
            }
            type="Teacher"
            formUser = document.getElementsByClassName('FormularioUsuarios')
            formPro = document.getElementsByClassName('FormularioProfesores')
            for (let i = 0; i < formUser.length; i++) {
                inputs = formUser[i].getElementsByTagName('input')
                selects = formUser[i].getElementsByTagName('select')
                for (let i = 0; i < inputs.length; i++) {
                    usuario[inputs[i].name]=inputs[i].value
                }
                for (let i = 0; i < selects.length; i++) {
                    usuario[selects[i].name]=selects[i].value
                }
                for (let i = 0; i < formPro.length; i++) {
                    inputs = formPro[i].getElementsByTagName('input')
                    selects = formPro[i].getElementsByTagName('select')
                    for (let i = 0; i < inputs.length; i++) {
                        if(inputs[i].type == "checkbox"){
                            profesor[inputs[i].name]=inputs[i].checked
                        }
                    }
                    for (let i = 0; i < selects.length; i++) {
                        if(selects[i].id=="id_niveles"){
                            profesor[selects[i].name]=niveles
                        }
                    }
                }
            }
            profesor['horarios']=JSON.stringify(horariosA)
        }
        $.ajax({
            url:$('#RegistrarUsuarioForm').attr('action'),
            data:{
                'csrfmiddlewaretoken':$("#RegistrarUsuarioForm").find('input[name=csrfmiddlewaretoken]').val(),
                'function':type,
                'datos':JSON.stringify(usuario),
            },
            type: $("#RegistrarUsuarioForm").attr('method'),
            success: function (data) {
                if(formulario.childNodes[5].style.display != 'none'){
                    console.log({
                        'csrfmiddlewaretoken':csrftoken,
                        'datos':JSON.stringify(profesor),
                        'usuario':data['datos'],
                    })
                    $.ajax({
                        url:'{%url "registrarProfesor"%}',
                        data:{
                            'csrfmiddlewaretoken':csrftoken,
                            'datos':JSON.stringify(profesor),
                            'usuario':data['datos'],
                        },
                        type: 'POST',
                        success: function (data) {
                            window.location.reload();
                        },
                        error: function (error){
                            Error = error['responseJSON']
                            keys=Object.keys(Error['forms'])
                            for (var i=0; i<keys.length; i++) {
                                value = Error['forms'][keys[i]]
                                let p_errors = document.getElementById('id_'+keys[i]+'-p')
                                p_errors.innerHTML = value
                                p_errors.style.display = 'block'
                                p_errors.style.color = 'red'
                                p_errors.previousSibling.previousSibling.previousSibling.classList.add('is-invalid')
                            }
                        }
                    });
                }
                else{
                    window.location.reload();
                }
            },
            error: function (error){
                Error = error['responseJSON']
                keys=Object.keys(Error['forms'])
                for (var i=0; i<keys.length; i++) {
                    value = Error['forms'][keys[i]]
                    let p_errors = document.getElementById('id_'+keys[i]+'-p')
                    p_errors.innerHTML = value
                    p_errors.style.display = 'block'
                    p_errors.style.color = 'red'
                    p_errors.previousSibling.previousSibling.previousSibling.classList.add('is-invalid')
                }
            }
        });
        }
    function agregarHoras(){
        const divHorario = document.createElement('div');
        const inputHorario = document.createElement("input");
        inputHorario.type = "time";
        inputHorario.className = "form-control";
        inputHorario.autocomplete = "off";
        const dateDay = document.createElement("select");
        dateDay.className = "dia";
        dateDay.classList.add("form-select")
        dateDay.style.marginBottom = "5px";
        dateDay.autocomplete = "off";
        let optionSelected = document.createElement("option");
        optionSelected.innerHTML = "Eliga un día"
        optionSelected.selected = true
        dateDay.appendChild(optionSelected)
        let dias = {"0":"Lunes","1":"Martes","2":"Miércoles","3":"Jueves","4":"Viernes","5":"Sábado","6":"Domingo"}
        for (let i = 0; i < 7; i++) {
            let option = document.createElement("option");
            option.value = dias[i]
            option.innerHTML = dias[i]
            dateDay.appendChild(option)
        }
        let pHorario = document.createElement("div");
        pHorario.textContent = "a"
        pHorario.style.textAlign = "center";
        let cloneInput = inputHorario.cloneNode(true);
        inputHorario.classList.add("from")
        divHorario.appendChild(dateDay);
        divHorario.appendChild(inputHorario);
        cloneInput.classList.add("through")
        divHorario.appendChild(pHorario);
        divHorario.appendChild(cloneInput);
        document.getElementById('horarios').appendChild(divHorario);
        cargar()
    }
    function eliminarHoras(){
        let child = document.getElementById('horarios').lastChild;
        document.getElementById('horarios').removeChild(child);
    }
</script>