<style>.checkbox{float: right; margin-top: 5px; width: 15px;}</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">
<div class="modal-dialog modal-lg " id="ModalUserAddDiv">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title ModalUserAddTitle" id="staticBackdropLabel titleModalUserAdd">Registro de {{forms.title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="height: 80vh; overflow: auto;">
        <div>
            <select name="filterType" id="filterTypeSelect modal" class="form-select" onchange="filterModal(this.value)"style="width:auto;">
                <option value="{{forms.filter.value}}" selected="selected" id="SelectedType">{{forms.filter.cont}}</option>{{forms.filter.cont}}</option>
                {%if forms.filter.value == 'P'%}
                <option value="A">Administradores</option>
                <option value="P" style="display: none;">Profesores</option>
                {%endif%}
                {%if forms.filter.value == 'All'%}
                <option value="A">Administradores</option>
                <option value="P" style="display: none;">Profesores</option>
                {%endif%}
                {%if forms.filter.value == 'A'%}
                <option value="P">Profesores</option>
                <option value="A" style="display: none;">Administradores</option>
                {{forms.filter.value}}
                {%endif%}
            </select>
            <br>
            <form action='{%url "registroUsuario"%}' method="post" id="filterTypeFormModal">{%csrf_token%}<input type="hidden" name="function" value="filtrar"></form>
        </div>
        <form action='{%url "registroUsuario"%}' method="post" id="RegistrarUsuarioForm">
            {%csrf_token%}
            <div id="FormularioUsuarios" class="FormularioUsuarios">
                {%for campo in forms.formUsuario %}
                <div>
                    <label for="" style="font-weight: 500;">{{campo.label}}:</label>
                    <br>{{campo}}<br>
                    <p id="" style="display: none;"></p>
                </div>
                {%endfor%}
            </div>
            <div id="FormularioProfesores" style="{%if forms.filter.value == 'A'%}display:none;{%endif%}" class="FormularioProfesores">
                {%for campo in forms.formProfesor %}
                <div>
                    <label for="" style="font-weight: 500;">{{campo.label}}:</label>
                    <br>{{campo}}<br>
                    <p id="" style="display: none;"></p>
                </div>
                {%endfor%}
            </div>
            <button class="btn btn-success" style="float: right;"type="button" onclick="registerUsuario()">Registrar</button>
            <br>
            <br>
      </form>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
        $('.multi_select').chosen();
    });
    let documento = document.getElementById('ModalUserAddDiv');
    let campos = documento.querySelectorAll("input");
    let selects = documento.querySelectorAll("select");
    selects.forEach(function(select) {
        select.setAttribute("class", "form-select");
    });
    campos.forEach(function(campo) {
        campo.setAttribute("class", "form-control");
        if (campo.getAttribute('type')=="checkbox") {
            campo.classList.remove("form-control");
            campo.previousSibling.remove();
            campo.classList.add("checkbox");
        }
    }); 
    function filterModal(valor){
        $.ajax({
            url:$('#filterTypeFormModal').attr('action'),
            data:{
                'type':valor,
                'csrfmiddlewaretoken':$("#filterTypeFormModal").find('input[name=csrfmiddlewaretoken]').val(),
                'function':$("#filterTypeFormModal").find('input[name=function]').val(),
            },
            type: $("#filterTypeFormModal").attr('method'),
            success: function (data) {
                let title = document.getElementById('staticBackdropLabel titleModalUserAdd');
                let formPer = document.getElementById('FormularioProfesores');
                if(data.datos.filter.value == 'A'){
                    formPer.style.display = 'none';
                }
                else{
                    formPer.style.display = 'block';
                }
            }
        });
    }
    function registerUsuario(){
        formulario = document.getElementById('RegistrarUsuarioForm');
        datos={}
        usuario={}
        profesor={}
        type=""
        if(formulario.childNodes[5].style.display == 'none'){
            type="User"
            formUser = document.getElementsByClassName('FormularioUsuarios')
            for (let i = 0; i < formUser.length; i++) {
                inputs = formUser[i].getElementsByTagName('input')
                selects = formUser[i].getElementsByTagName('select')
                for (let i = 0; i < inputs.length; i++) {
                    usuario[inputs[i].name]=inputs[i].value
                }
                for (let i = 0; i < selects.length; i++) {
                    usuario[selects[i].name]=selects[i].value
                }
            }
        }
        else{
            type="Teacher"
            formUser = document.getElementsByClassName('FormularioUsuarios')
            formPro = document.getElementsByClassName('FormularioProfesores')
            for (let i = 0; i < formUser.length; i++) {
                inputs = formUser[i].getElementsByTagName('input')
                selects = formUser[i].getElementsByTagName('select')
                for (let i = 0; i < inputs.length; i++) {
                    usuario[inputs[i].name]=inputs[i].value
                }
                for (let i = 0; i < selects.length; i++) {
                    usuario[selects[i].name]=selects[i].value
                }
                for (let i = 0; i < formPro.length; i++) {
                    inputs = formPro[i].getElementsByTagName('input')
                    selects = formPro[i].getElementsByTagName('select')
                    for (let i = 0; i < inputs.length; i++) {
                        if(inputs[i].type == "checkbox"){
                            profesor[inputs[i].name]=inputs[i].checked
                        }
                        else{
                            profesor[inputs[i].name]=inputs[i].value
                        }
                    }
                    for (let i = 0; i < selects.length; i++) {
                        profesor[selects[i].name]=selects[i].value
                    }
                }
            }
        }
        datos={'usuario':usuario,'profesor':profesor}
        $.ajax({
            url:$('#RegistrarUsuarioForm').attr('action'),
            data:{
                'csrfmiddlewaretoken':$("#RegistrarUsuarioForm").find('input[name=csrfmiddlewaretoken]').val(),
                'function':type,
                'datos':JSON.stringify(datos),
            },
            type: $("#RegistrarUsuarioForm").attr('method'),
            success: function (data) {
                console.log(data)
            },
            error: function (error){
                Error = error['responseJSON']
                console.log(Error)
            }
        });
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>