{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'libs/fontawesome/css/all.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.css' %}">
  <title>Document</title>
</head>
<body>
  <div class="row" id="contenedor_principal">
    <div class="col-md-6" id="colun">
        <img src="{% static 'img/labonanza.png' %}" style="z-index: 3;" alt="">
        <!-- <p>IncuApp</p>
        <div class="cont_desc">
            <small>Ingresa a tu cuenta para disfrutar de los beneficios de gestionar la información desde un sitio web rápido y eficaz</small>
        </div> -->
       
    </div>
    <div class="col-md-6" id="Col_log">
        <P class="texto-seccion">RESTABLECER CONTRASEÑA</P>
          {%if error%}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
  
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  
            </svg>
            <strong>Error</strong> {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {%endif%}
            
          <form action="" method="post">
              {% csrf_token %}
                <div class="row" id="row_form">
                    
                    <div class="col-12 mb-1">
                        <div class="form-input">
                            <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                            <input type="email" name="correo" placeholder="Ingrese su correo electrónico" required>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <span class="mas" style="padding-left: 80px;">Volver al <a class="recuperar" style="font-weight: bold;" href="{% url 'login' %}">inicio de sesión</a></span>
                    </div>
                    <div class="col-12 text-center mb-3 mt-2">
                        <button type="submit" class="btn btn_ingresar">Restablecer &nbsp; <i class="fa-solid fa-arrow-rotate-right"></i></button>
                    </div>
                </div>
          </form>
    </div>
  </div>
</body>
</html>



  

  




    
    


{% comment %}
{%if error%}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">

    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>

  </svg>
  <strong>Error</strong> {{error}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%endif%}
{% endcomment %}
    