<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{object.estudiante}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Información del estudiante</h3>
        <h4>Nombre: </h4>
        <h6>{{object.estudiante.nombre_completo}}</h6>
        <h4>Nivel: </h4>
        <h6>{{object.nivel}}</h6>
        <hr>
        <h3>Información de la clase</h3>
        <h4>Dia: </h4>
        <h6>{{object.get_diaClase_display}}</h6>
        <h4>Hora: </h4>
        <h6>{{object.horaClase|time:"h:00 A"}}</h6>
        <h4>Profesor: </h4>
        <h6>{{object.profesor.usuario}}</h6>
        <hr>
        <h3>Asistencia del estudiante</h3>
        <div class="row">
          <div class="col-md-6">
            <h5>Total de Clases</h5>
            <h6>{{totalClases}}</h6>
          </div>
          <div class="col-md-6">
            <h5>Asistidas</h5>
            <h6>{{AsitidasClases}}</h6>
          </div>
          <hr>
          <div class="col-md-6">
            <h5>No asistidas</h5>
            <h6>{{NoAsistidasClases}}</h6>
          </div>
          <div class="col-md-6">
            <h5>Canceladas</h5>
            <h6>{{CanceladasClases}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
