<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modificar clase de reprogramación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="modalBody"></div>
          <form action="{% url 'reponerClase' clase.pk %}" method="post" id="reponerClaseForm">
            <p id="errorestudiante" class="error_text"></p>
            <p id="errorCalendario" class="error_text"></p>
            {% csrf_token %}
            <input type="hidden" value="editar" name="tipo">
            <label><b>Día de la clase: </b></label>
           <input type="date" class="form-control" name="dia" id="dia" value="{{clase.dia|date:'Y-m-d'}}">
           <p id="errordia" class="error_text"></p>
           <br>
           <label><b>Hora de la clase: </b></label>
           <input type="time" class="form-control" name="hora" id="hora" value="{{clase.clase.calendario.horaClase|date:'H:i:s'}}">
           <p id="errorhora" class="error_text"></p>
           <br>
           <label><b>Instructor: </b></label>
           <select name="profesor" id="profesor" class="form-select">
            {% for profesor in profesores %}
            <option value="{{profesor.pk}}" {% if profesor ==  profeActual %}selected{% endif %}>{{profesor}}</option>
                  {{profesor}}
            {% endfor %}
           </select>
           <p id="errorprofesor" class="error_text"></p>
          </form>   
      </div>
      <div class="modal-footer">
        <button onclick="reponerClases()" class="btn btn-success w-100">Modificar clase de reprogramación</button>
      </div>
    </div>
</div>
 